{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.administer.title", {
  programme: vaccination.programme
}) %}

{% block form %}
  {{ appHeading({
    caption: vaccination.patient.fullName,
    title: title
  }) }}

  {{ input({
    type: "hidden",
    value: "full",
    decorate: "vaccination.dosage"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("vaccination.method.label"),
        size: "m"
      }
    },
    items: injectionMethodItems,
    decorate: "vaccination.injectionMethod"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("vaccination.site.label"),
        size: "m"
      }
    },
    items: injectionSiteItems,
    decorate: "vaccination.injectionSite"
  }) }}
{% endblock %}
