{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.batch.title") %}

{% block form %}
  {{ appHeading({
    caption: vaccination.patient.fullName,
    title: title
  }) }}

  {{ input({
    label: { text: __("batch.id.label") },
    code: true,
    width: 10,
    decorate: "vaccination.batch_id"
  }) }}

  {{ dateInput({
    fieldset: {
      legend: { text: __("batch.expiry.label") }
    },
    hint: { text: __("batch.expiry.hint") },
    decorate: "vaccination.batch_expiry_"
  }) }}
{% endblock %}
