{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.dose.title", vaccination.programmeOrVariantName) %}

{% block form %}
  {{ input({
    label: {
      html: heading({
        caption: vaccination.patient.fullName,
        text: title,
        size: "l"
      })
    },
    suffix: "ml",
    width: 5,
    decorate: "vaccination.dose"
  }) if vaccination.vaccine.criteria != VaccineCriteria.Intranasal else radios({
    fieldset: {
      legend: {
        html: heading({
          caption: vaccination.patient.fullName,
          text: __("vaccination.dosage.title"),
          size: "l"
        })
      }
    },
    items: [{
      label: __("vaccination.dosage.full"),
      value: "full"
    }, {
      label: __("vaccination.dosage.half"),
      value: "half"
    }],
    decorate: "vaccination.dosage"
  }) }}
{% endblock %}
