{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.dose.title", vaccination.programmeOrVariantName) %}

{% block form %}
  {{ input({
    label: {
      html: appHeading({
        classes: "nhsuk-label--l",
        caption: vaccination.patient.fullName,
        title: title
      })
    },
    suffix: "ml",
    width: 5,
    decorate: "vaccination.dose"
  }) if vaccination.vaccine.criteria != VaccineCriteria.Intranasal else radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: vaccination.patient.fullName,
          title: __("vaccination.dosage.title")
        })
      }
    },
    items: [{
      text: __("vaccination.dosage.full"),
      value: "full"
    }, {
      text: __("vaccination.dosage.half"),
      value: "half"
    }],
    decorate: "vaccination.dosage"
  }) }}
{% endblock %}
