{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.identifiedBy.title", {
  patient: vaccination.patient
}) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: vaccination.patient.fullName,
          title: title
        })
      }
    },
    items: [{
      label: __("vaccination.hasSelfIdentified.true"),
      value: true
    }, {
      label: __("vaccination.hasSelfIdentified.false"),
      value: false,
      conditional: {
        html: input({
          label: __("vaccination.identifiedBy.name.title"),
          width: 20,
          decorate: "vaccination.identifiedBy.name"
        }) + input({
          label: __("vaccination.identifiedBy.relationship.title"),
          hint: __("vaccination.identifiedBy.relationship.hint"),
          width: 20,
          decorate: "vaccination.identifiedBy.relationship"
        })
      }
    }],
    decorate: "vaccination.hasSelfIdentified"
  }) }}
{% endblock %}
