{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.identifiedBy.title", {
  patient: vaccination.patient
}) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: vaccination.patient.fullName,
          title: title
        })
      }
    },
    items: [{
      text: __("vaccination.selfId.true"),
      value: true
    }, {
      text: __("vaccination.selfId.false"),
      value: false,
      conditional: {
        html: input({
          label: { text: __("vaccination.identifiedBy.name.title") },
          width: 20,
          decorate: "vaccination.identifiedBy.name"
        }) + input({
          label: { text: __("vaccination.identifiedBy.relationship.title") },
          hint: { text: __("vaccination.identifiedBy.relationship.hint") },
          width: 20,
          decorate: "vaccination.identifiedBy.relationship"
        })
      }
    }],
    decorate: "vaccination.selfId"
  }) }}
{% endblock %}
