{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.injection.title") %}

{% block form %}
  {{ appHeading({
    caption: vaccination.patient.fullName,
    title: title
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("vaccination.method.label"),
        size: "m"
      }
    },
    items: injectionMethodItems,
    decorate: "vaccination.injectionMethod"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("vaccination.site.label"),
        size: "m"
      }
    },
    items: injectionSiteItems,
    decorate: "vaccination.injectionSite"
  }) }}
{% endblock %}
