{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.method.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        caption: vaccination.patient.fullName,
        heading: title,
        size: "l"
      }
    },
    items: injectionMethodItems,
    decorate: "vaccination.injectionMethod"
  }) }}
{% endblock %}
