{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.outcome.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        caption: vaccination.patient.fullName,
        heading: title,
        size: "l"
      }
    },
    items: enumItems(VaccinationOutcome),
    decorate: "vaccination.outcome"
  }) }}
{% endblock %}
