{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.sequence.title", vaccination.programmeOrVariantName) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: vaccination.patient.fullName,
          text: title,
          size: "l"
        })
      }
    },
    items: sequenceItems,
    decorate: "vaccination.sequence"
  }) }}
{% endblock %}
