{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.vaccine.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: vaccination.patient.fullName,
          text: title,
          size: "l"
        })
      }
    },
    items: vaccineItems,
    decorate: "vaccination.vaccine_snomed"
  }) }}
{% endblock %}
