{% extends "_layouts/form.njk" %}

{% set title = __("vaccination.vaccine.title") %}

{% block form %}
  {% if vaccination.outcome == VaccinationOutcome.AlreadyVaccinated %}
    {% set vaccineItems = vaccineItems | push({
      divider: "or"
    }) | push({
      text: "Unknown",
      value: "Unknown"
    }) %}
  {% endif %}

  {{ radios({
    fieldset: {
      legend: {
        caption: vaccination.patient.fullName,
        heading: title,
        size: "l"
      }
    },
    items: vaccineItems,
    decorate: "vaccination.vaccine_snomed"
  }) }}
{% endblock %}
