{% from "patient/_navigation.njk" import patientNavigation with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = patient.fullName + " – " + patient.programmes[programme.slug].name %}
{% set formAction = patientProgramme.uri + "/record?referrer=" + referrer %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: __("home.show.title"),
      href: "/"
    }, {
      text: __("patient.list.title"),
      href: "/patients"
    }, {
      text: patient.fullName,
      href: patient.uri
    } if patientProgramme.activeSeason and not patientProgramme.isActive, {
      text: patientProgramme.activeSeason.programme.name,
      href: patientProgramme.activeSeason.uri
    } if patientProgramme.activeSeason and not patientProgramme.isActive]
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {% if patientProgramme.isActive %}
    {{ patientNavigation({
      patient: patient
    }) }}
  {% else %}
    {{ appHeading({
      caption: patient.fullName,
      title: patientProgramme.name
    }) }}
  {% endif %}

  {% call card({
    heading: __mf("patientProgramme.vaccinationsGiven.count", {
      count: patientProgramme.vaccinationsGiven.length
    }),
    headingLevel: 3
  }) %}
    {{ patientProgramme.formatted.statusWithNotes | nhsukMarkdown }}

    {% if patientProgramme.vaccinationsGiven.length %}
      {% set vaccinationRows = [] %}
      {% for vaccination in patientProgramme.vaccinationsGiven %}
        {% set vaccinationRows = vaccinationRows | push([
          {
            header: __("vaccination.administeredAt.label"),
            html: vaccination.link.administeredAt
          },
          {
            header: __("vaccination.age.label"),
            text: patient.dob | age(at=vaccination.administeredAt)
          },
          {
            header: __("vaccination.programme.label"),
            html: vaccination.formatted.programmeWithSequence
          },
          {
            header: __("vaccination.source.label"),
            text: vaccination.source
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "vaccinations",
        responsive: true,
        head: [
          { text: __("vaccination.administeredAt.label") },
          { text: __("vaccination.age.label") },
          { text: __("vaccination.programme.label") },
          { text: __("vaccination.source.label") }
        ],
        rows: vaccinationRows
      }) }}
    {% endif %}

    {{ actionLink({
      text: __("vaccination.new.alreadyVaccinated.title"),
      href: patientProgramme.uri + "/new/vaccination"
    }) if patientProgramme.isActive }}
  {% endcall %}

  {% if patientProgramme.ttcvVaccinations %}
    {% call card({
      heading: __("patientProgramme.tetanus.label"),
      headingLevel: 3
    }) %}
      {% set ttcvRows = [] %}
      {% for vaccination in patientProgramme.ttcvVaccinations %}
        {% set ttcvRows = ttcvRows | push([
          {
            header: __("vaccination.administeredAt.label"),
            text: vaccination.formatted.administeredAt_date
          },
          {
            header: __("vaccination.age.label"),
            text: patient.dob | age(at=vaccination.administeredAt)
          },
          {
            header: __("vaccination.programme.label"),
            html: vaccination.formatted.programmeWithSequence
          },
          {
            header: __("vaccination.tetanus.label"),
            html: loop.index | ordinal
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "tetanus",
        responsive: true,
        head: [
          { text: __("vaccination.administeredAt.label") },
          { text: __("vaccination.age.label") },
          { text: __("vaccination.programme.label") },
          { text: __("vaccination.tetanus.label") }
        ],
        rows: ttcvRows
      }) }}

      {{ actionLink({
        text: __("vaccination.new.alreadyVaccinated.tetanus"),
        href: patientProgramme.uri + "/new/tetanus"
      }) }}
    {% endcall %}
  {% endif %}

  {% if patientProgramme.patientSessions.length %}
    {% call card({
      heading: __("patientProgramme.patientSessions.label"),
      headingLevel: 3
    }) %}
      {% set patientSessionRows = [] %}
      {% for patientSession in patientProgramme.patientSessions %}
        {% set patientSessionRows = patientSessionRows | push([
          {
            header: __("session.location.label"),
            html: link(patientSession.uri, patientSession.session.location.name)
          },
          {
            header: __("session.date.label"),
            html: patientSession.session.formatted.date if patientSession.session.date else patientSession.session.status
          },
          {
            header: __("patientSession.outcome.label"),
            html: patientSession.formatted.outcome or "No outcome"
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "patient-sessions",
        sort: "name",
        responsive: true,
        head: [
          {
            text: __("session.location.label"),
            attributes: {
              style: "width: 33%"
            }
          },
          { text: __("session.date.label") },
          { text: __("patientSession.outcome.label") }
        ],
        rows: patientSessionRows
      }) }}

      {{ appButtonGroup({
        buttons: [{
          text: __("patientProgramme.inviteToClinic.label") | safe,
          variant: "secondary",
          decorate: "programme_ids",
          value: patientProgramme.programme.id,
          attributes: {
            formaction: patient.uri + "/invite-to-clinic?referrer=" + patientProgramme.uri
          }
        }, {
          text: __("patientProgramme.activeClinics.label") | safe,
          variant: "secondary",
          href: patientProgramme.uri + "/clinics"
        }]
      }) if patientProgramme.status != PatientStatus.Vaccinated and patientProgramme.isEligible and patientProgramme.isActive }}
    {% endcall %}
  {% endif %}

  {{ card({
    heading: __("patientProgramme.auditEvents.label"),
    headingLevel: 3,
    descriptionHtml: appTimeline({
      items: timelineItems(patientProgramme.auditEvents)
    })
  }) if patientProgramme.auditEvents.length }}

  {% if patientProgramme.otherSeasons %}
    {% call card({
      heading: __("patientProgramme.otherSeasons.label", patientProgramme.programme.nameSentenceCase),
      headingLevel: 3
    }) %}
      {% set otherSeasonRows = [] %}
      {% for patientProgramme in patientProgramme.otherSeasons %}
        {% set otherSeasonRows = otherSeasonRows | push([
          {
            header: __("patientProgramme.name.label"),
            html: link(patientProgramme.uri, patientProgramme.name)
          },
          {
            header: __("patientProgramme.status.label"),
            html: patientProgramme.formatted.status
          },
          {
            header: __("patientProgramme.statusNotes.label"),
            html: patientProgramme.statusNotes
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "other-seasons",
        responsive: true,
        head: [
          { text: __("patientProgramme.name.label") },
          { text: __("patientProgramme.status.label") },
          { text: __("patientProgramme.statusNotes.label") }
        ],
        rows: otherSeasonRows
      }) }}
    {% endcall %}
  {% endif %}
{% endblock %}
