{% from "patient/_navigation.njk" import patientNavigation with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = patient.fullName + " – " + patient.programmes[programme.slug].name %}
{% set formAction = patientProgramme.uri + "/record?referrer=" + referrer %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        text: __("home.show.title"),
        href: "/"
      },
      {
        text: __("patient.list.title"),
        href: "/patients"
      },
      {
        text: patient.fullName,
        href: patient.uri
      } if patientProgramme.activeSeason and not patientProgramme.isActive,
      {
        text: patientProgramme.activeSeason.programme.name,
        href: patientProgramme.activeSeason.uri
      } if patientProgramme.activeSeason and not patientProgramme.isActive
    ]
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {% if patientProgramme.isActive %}
    {{ patientNavigation({
      patient: patient
    }) }}
  {% else %}
    {{ heading({
      caption: patient.fullName,
      text: patientProgramme.name,
      size: "l"
    }) }}
  {% endif %}

  <p class="nhsuk-body nhsuk-u-margin-bottom-7">
    {{ patientProgramme.formatted.statusWithNotes | safe }}
  </p>

  {% if patientProgramme.canRecordVaccination %}
    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        {{ card({
          heading: __("patientProgramme.consent.label"),
          headingLevel: 3,
          headingSize: "m",
          href: patientProgramme.uri + "/replies",
          clickable: true,
          variant: "primary",
          description: patientProgramme.consentDescription
        }) }}
      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        {{ card({
          heading: __("patientProgramme.screen.label"),
          headingLevel: 3,
          headingSize: "m",
          description: patientProgramme.screenDescription
        }) }}
      </li>
    </ul>
  {% endif %}

  {% if patientProgramme.canRecordVaccination or patientProgramme.isVaccinated %}
    {% call card({
      heading: __mf("patientProgramme.vaccinationsGiven.count", {
        count: patientProgramme.vaccinationsGiven.length
      }),
      headingLevel: 3
    }) %}
      {% if patientProgramme.isVaccinated %}
        {% set vaccinationRows = [] %}
        {% for vaccination in patientProgramme.vaccinationsGiven %}
          {% set vaccinationRows = vaccinationRows | push([
            {
              header: __("vaccination.administeredAt.label"),
              html: vaccination.link.administeredAt
            },
            {
              header: __("vaccination.age.label"),
              text: patient.dob | age(at=vaccination.administeredAt)
            },
            {
              header: __("vaccination.programme.label"),
              html: vaccination.formatted.programmeWithSequence
            },
            {
              header: __("vaccination.source.label"),
              text: vaccination.source
            }
          ]) %}
        {% endfor %}

        {{ table({
          id: "vaccinations",
          responsive: true,
          head: [
            { text: __("vaccination.administeredAt.label") },
            { text: __("vaccination.age.label") },
            { text: __("vaccination.programme.label") },
            { text: __("vaccination.source.label") }
          ],
          rows: vaccinationRows
        }) }}
      {% endif %}

      {{ actionLink({
        text: __("vaccination.new.alreadyVaccinated.title"),
        href: patientProgramme.uri + "/new/vaccination"
      }) if patientProgramme.canRecordVaccination }}
    {% endcall %}
  {% endif %}

  {% if patientProgramme.tetanusVaccinations %}
    {% call card({
      heading: {
        text: __("patientProgramme.tetanus.label"),
        level: 3
      }
    }) %}
      {% set tetanusVaccinationRows = [] %}
      {% for vaccination in patientProgramme.tetanusVaccinations %}
        {% set tetanusVaccinationRows = tetanusVaccinationRows | push([
          {
            text: vaccination.formatted.administeredAt_date
          },
          {
            text: patient.dob | age(at=vaccination.administeredAt)
          },
          {
            html: vaccination.formatted.programmeWithSequence
          },
          {
            html: loop.index | ordinal
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "tetanus",
        responsive: true,
        head: [
          { text: __("vaccination.administeredAt.label") },
          { text: __("vaccination.age.label") },
          { text: __("vaccination.programme.label") },
          { text: __("vaccination.tetanus.label") }
        ],
        rows: tetanusVaccinationRows
      }) }}

      {{ actionLink({
        text: __("vaccination.new.alreadyVaccinated.tetanus"),
        href: patientProgramme.uri + "/new/tetanus"
      }) }}
    {% endcall %}
  {% endif %}

  {% if patientProgramme.patientSessions.length %}
    {% call card({
      heading: {
        text: __("patientProgramme.patientSessions.label"),
        level: 3
      }
    }) %}
      {% set patientSessionRows = [] %}
      {% for patientSession in patientProgramme.patientSessions %}
        {% set patientSessionRows = patientSessionRows | push([
          {
            html: link(patientSession.uri, patientSession.session.location.name)
          },
          {
            html: patientSession.session.formatted.date if patientSession.session.date else patientSession.session.status
          },
          {
            html: patientSession.formatted.outcome or "No outcome"
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "patient-sessions",
        sort: "name",
        responsive: true,
        head: [
          {
            text: __("session.location.label"),
            width: "one-third"
          },
          {
            text: __("session.date.label")
          },
          {
            text: __("patientSession.outcome.label")
          }
        ],
        rows: patientSessionRows
      }) }}

      {{ appButtonGroup({
        buttons: [
          {
            text: __("patientProgramme.inviteToClinic.label") | safe,
            variant: "secondary",
            decorate: "programme_ids",
            value: patientProgramme.programme.id,
            attributes: {
              formaction: patient.uri + "/invite-to-clinic?referrer=" + patientProgramme.uri
            }
          },
          {
            text: __("patientProgramme.activeClinics.label") | safe,
            variant: "secondary",
            href: patientProgramme.uri + "/clinics"
          }
        ]
      }) if patientProgramme.status != PatientStatus.Vaccinated and not patientProgramme.isIneligible and patientProgramme.isActive }}
    {% endcall %}
  {% endif %}

  {{ card({
    heading: {
      text: __("patientProgramme.auditEvents.label"),
      level: 3
    },
    description: {
      html: appTimeline({
        items: timelineItems(patientProgramme.auditEvents)
      })
    }
  }) if patientProgramme.auditEvents.length }}

  {% if patientProgramme.otherSeasons %}
    {% call card({
      heading: {
        text: __("patientProgramme.otherSeasons.label", patientProgramme.programme.nameSentenceCase),
        level: 3
      }
    }) %}
      {% set otherSeasonRows = [] %}
      {% for patientProgramme in patientProgramme.otherSeasons %}
        {% set otherSeasonRows = otherSeasonRows | push([
          {
            html: link(patientProgramme.uri, patientProgramme.name)
          },
          {
            html: patientProgramme.formatted.status
          },
          {
            html: patientProgramme.statusNotes
          }
        ]) %}
      {% endfor %}

      {{ table({
        id: "other-seasons",
        responsive: true,
        head: [
          { text: __("patientProgramme.name.label") },
          { text: __("patientProgramme.status.label") },
          { text: __("patientProgramme.statusNotes.label") }
        ],
        rows: otherSeasonRows
      }) }}
    {% endcall %}
  {% endif %}
{% endblock %}
