{% filter nhsukMarkdown %}
## Information Mavis needs

For each pupil, you must include the following information. If any of it is missing, Mavis will not upload the spreadsheet.

- First Name (Student)
- Last Name (Student)
- Date of Birth (Student)

## Important information for the vaccination team

Include details for at least one parent wherever possible.

The vaccination team needs parent contact details to request consent for a child’s vaccinations.

The word ‘parent’ refers to anyone who has the legal right to consent to a child’s vaccination.

Mavis needs the child’s postcode to help match them to their NHS record.

- Priority 1 Guardian Name
- Priority 1 Guardian Main Telephone Number
- Priority 1 Guardian Email
- Postal Address Postal Code

## Other information you can include

Including this information helps provide a more complete record for each pupil and can help you organise pupils for vaccination sessions.

- Preferred Name (Student)
- Sex (Student)
- Postal Address Line 1
- Postal Address Line 2
- Postal Address Town
- Year Group
- Registration Form
- Priority 2 Guardian Name
- Priority 2 Guardian Main Telephone Number
- Priority 2 Guardian Email
{% endfilter %}
