{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = __("upload.list.title") %}

{% block form %}
  {{ super() }}

  {{ heading({
    text: title,
    size: "l"
  }) }}

  {{ actionLink({
    href: "/uploads/new?type=" + UploadType.School,
    text: __("session.upload-class-list.title")
  }) if account.isSchoolUser else actionLink({
    href: "/uploads/new",
    text: __("upload.new.label")
  }) }}

  <div class="nhsuk-grid-row">
    <app-auto-submit class="app-grid-column-filters">
      {% call card({
        classes: "app-filters",
        feature: true,
        heading: {
          text: __("upload.search.label"),
          level: 2
        }
      }) %}
        {{ radios({
          fieldset: {
            legend: {
              text: __("upload.type.label"),
              size: "s"
            }
          },
          small: true,
          items: radioFilterItems(UploadType),
          decorate: "type"
        }) if not account.isSchoolUser }}

        {{ checkboxes({
          fieldset: {
            legend: {
              text: __("upload.status.label"),
              size: "s"
            }
          },
          small: true,
          items: uploadStatusItems,
          decorate: "status"
        }) }}

        {{ appButtonGroup({
          buttons: [
            {
              text: __("search.confirm"),
              small: true,
              variant: "secondary",
              attributes: {
                formaction: params.formaction,
                formmethod: "post",
                role: "search"
              }
            },
            {
              text: __("search.clear"),
              href: "/uploads",
              small: true,
              variant: "secondary"
            } if data.type or data.status
          ]
        }) }}
      {% endcall %}
    </app-auto-submit>

    <div class="app-grid-column-results">
      {% if data.type and data.type != "none" %}
        {% set title = data.type | replace("records", "record uploads") %}
      {% else %}
        {% set title = __("upload.list.results") %}
      {% endif %}

      {{ heading({
        caption: {
          html: __mf("upload.results", {
            from: results.from,
            to: results.to,
            count: results.count
          }),
          placement: "after"
        },
        text: title,
        level: 2,
        size: "m"
      }) }}

      {% for upload in results.page %}
        {{ summaryList({
          card: {
            classes: "app-card--compact",
            heading: {
              text: upload.formatted.createdAt,
              size: "s",
              level: 3
            },
            href: upload.uri,
            clickable: true
          },
          lastRowBorder: false,
          rows: summaryRows(upload, {
            fileName: {},
            status: {}
          }) if account.isSchoolUser else summaryRows(upload, {
            fileName: {},
            type: {
              value: upload.summary.type
            },
            status: {}
          })
        }) }}
      {% endfor %}

      {{ pagination(pages) }}
    </div>
  </div>
{% endblock %}
