{% from "upload/_class-list-records.njk" import classListRecords with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set programme = data.programmes[upload.programme_id] %}
{% set needsReview = upload.status == UploadStatus.Review %}
{% if needsReview %}
  {% set title = __("upload.show.submit.title", upload.formatted.createdAt) %}
{% else %}
  {% set title = __("upload.show.title", upload.formatted.createdAt) %}
{% endif %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        text: __("home.show.title"),
        href: "/"
      },
      {
        text: __("upload.list.title"),
        href: "/uploads"
      }
    ]
  }) }}
{% endblock %}

{% block form %}
  {{ super() }}

  {{ heading({
    text: title,
    size: "l"
  }) }}

  {% if needsReview %}
  <div class="nhsuk-u-reading-width">
    {{ __("upload.show.submit.description") | nhsukMarkdown }}
  </div>
  {% endif %}

  {{ summaryList({
    card: {
      heading: {
        text: __("upload.show.summary"),
        size: "m"
      }
    },
    lastRowBorder: false,
    rows: summaryRows(upload, {
      createdBy: {},
      fileName: {},
      format: {},
      school: {},
      yearGroups: {},
      patients: {},
      status: {},
      isApproved: {},
      isRejected: {},
      rejectionReason: {}
    })
  }) }}

  {% if upload.status == UploadStatus.Invalid %}
    {% call card({
      feature: true,
      heading: {
        text: __("upload.invalid.title"),
        classes: "app-card__heading--red",
        level: 2,
        size: "m"
      }
    }) %}
      <div class="nhsuk-u-reading-width">
        {{ actionLink({
          text: __("upload.edit.label", upload.type | lower),
          href: upload.uri + "/edit/file?type=" + upload.type
        }) }}
      </div>

      {% for row, validations in upload.validations %}
        {{ heading({
          text: "Row " + row,
          level: 3,
          size: "s"
        }) }}
        <ul>
        {% for key, message in validations %}
          <li><code>{{ key }}</code> {{ message }}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    {% endcall %}
  {% elif upload.status == UploadStatus.Failed %}
    {% call card({
      classes: "nhsuk-u-margin-bottom-6",
      feature: true,
      heading: {
        text: __("upload.failed.title"),
        classes: "app-card__heading--red",
        level: 2,
        size: "m"
      }
    }) %}
      <div class="nhsuk-u-reading-width">
        {{ __("upload.failed.description") | nhsukMarkdown }}
      </div>

      {{ actionLink({
        text: __("upload.edit.label", upload.type | lower),
        href: upload.uri + "/edit/file"
      }) }}
    {% endcall %}

    {% include "upload/_failed-records.njk" %}
  {% else %}
    {{ heading({
      caption: {
        text: "These pupils are in the spreadsheet but are not currently recorded as attending your school in Mavis.",
        placement: "after"
      } if params.key != "imported",
      text: "Pupils who have joined the school",
      level: 2,
      size: "m"
    }) }}

    {% for academicYearGroup, patients in upload.patientsByYearGroup %}
      {{ classListRecords({ patients: patients }) if academicYearGroup != "undefined" }}
    {% endfor %}

    {{ heading({
      caption: {
        text: "These pupils are recorded as attending your school in Mavis but are not in the spreadsheet.",
        placement: "after"
      } if params.key != "imported",
      text: "Pupils who have left the school",
      level: 2,
      size: "m"
    }) }}

    {% for academicYearGroup, patients in upload.patientsByYearGroup %}
      {{ classListRecords({ patients: patients }) if academicYearGroup != "undefined" }}
    {% endfor %}
  {% endif %}

  {% if upload.patients.length > 0 and needsReview %}
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

    {{ appButtonGroup({
      buttons: [
        {
          text: __("upload.submit.confirm"),
          attributes: {
            formaction: upload.uri + "/submit"
          }
        },
        {
          text: __("upload.delete.confirm"),
          variant: "secondary",
          attributes: {
            formaction: upload.uri + "/delete"
          }
        }
      ]
    }) }}
  {% elif upload.status != UploadStatus.Processing and upload.status != UploadStatus.Approved %}
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

    {{ appButtonGroup({
      buttons: [
        {
          text: __("upload.delete.label"),
          variant: "secondary",
          attributes: {
            formaction: upload.uri + "/delete"
          }
        }
      ]
    }) }}
  {% endif %}
{% endblock %}
