@use "../../vendor/nhsuk-frontend" as *;

// Sticky columns
.nhsuk-grid-column-one-third {
  @include nhsuk-media-query($from: desktop) {
    &[data-app-sticky-init] {
      position: sticky;
      top: 0;
    }

    .nhsuk-card--feature {
      margin-top: nhsuk-spacing(3);
    }
  }
}

// Patient session and record
.app-grid-column-patient-session {
  @include nhsuk-grid-column(three-quarters, $float: right, $at: large-desktop);
}

.app-grid-column-patient-record {
  @include nhsuk-grid-column(one-quarter, $float: right, $at: large-desktop);

  @include nhsuk-media-query($from: large-desktop) {
    &[data-app-sticky-init] {
      position: sticky;
      top: #{nhsuk-spacing(9) + nhsuk-spacing(5)};
    }
  }
}

// Search filters and results
.app-grid-column-filters {
  display: block;

  @include nhsuk-grid-column(one-third, $at: desktop);
}

.app-grid-column-results {
  @include nhsuk-grid-column(two-thirds, $at: desktop);
}
