  {%- set fosterCarerHtml = radios({
    fieldset: {
      legend: __("clinicBooking.parentalRelationship.hasParentalResponsibility.delegatedLabel")
    },
    hint: __("clinicBooking.parentalRelationship.hasParentalResponsibility.hint"),
    items: getBooleanItems(),
    decorate: "appointment.parentHasParentalResponsibility"
  }) %}

  {%- set guardianHtml = radios({
    fieldset: {
      legend: __("clinicBooking.parentalRelationship.hasParentalResponsibility.label")
    },
    hint: __("clinicBooking.parentalRelationship.hasParentalResponsibility.hint"),
    items: getBooleanItems(),
    decorate: "appointment.parentHasParentalResponsibility"
  }) %}

  {%- set otherHtml = input({
    label: __("clinicBooking.parentalRelationship.relationshipOther.label"),
    decorate: "appointment.parentalRelationshipOther"
  }) + radios({
    fieldset: {
      legend: __("clinicBooking.parentalRelationship.hasParentalResponsibility.label")
    },
    hint: __("clinicBooking.parentalRelationship.hasParentalResponsibility.hint"),
    items: getBooleanItems(),
    decorate: "appointment.parentHasParentalResponsibility"
  }) %}

  {# Add conditional html for ‘Foster carer’ option #}
  {% set items = injectConditionalHtml(parentalRelationshipItems, ParentalRelationship.Fosterer, fosterCarerHtml) %}

  {# Add conditional html for ‘Guardian’ option #}
  {% set items = injectConditionalHtml(items, ParentalRelationship.Guardian, guardianHtml) %}

  {# Add conditional html for ‘Other’ option #}
  {% set items = injectConditionalHtml(items, ParentalRelationship.Other, otherHtml) %}

  {{ radios({
    fieldset: {
      legend: __("clinicBooking.parentalRelationship.relationship.label")
    },
    items: items,
    decorate: "appointment.parentalRelationship"
  }) }}
