{% extends "_layouts/abandon-booking.njk" %}

{% set title = __("clinicBooking.timeRange.title", firstName) %}

{% block form %}
  {{ appHeading({
    title: title,
    caption: __("clinicBooking.appointment.caption", fullName) if childCount > 1
  }) }}

  {% include "book-into-a-clinic/form/_session-summary.njk" %}

  {{ radios({
    fieldset: {
      legend: {
        text: __("clinicBooking.timeRange.ranges.label"),
        size: "m"
      }
    },
    items: timeRangeItems,
    decorate: "transaction.timeRange"
  }) }}
{% endblock %}
