{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.time.title", firstName) %}
{% if childCount > 1 and childNumber < childCount %}
  {% set confirmButtonText = __("clinicBooking.nextChildButtonText") %}
{% endif %}

{% block form %}
  {{ appHeading({
    title: title,
    caption: __("clinicBooking.appointment.caption", fullName) if childCount > 1
  }) }}

  {#
  {{ summaryList({
    card: {
      heading: __("clinicBooking.time.clinicSummary.title"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(appointment, {
      location: {},
      date: {}
    })
  }) }}
  #}

  {{ radios({
    fieldset: {
      legend: {
        text: __("clinicBooking.time.times.label")
      }
    },
    items: appointmentTimeItems,
    decorate: "transaction.time"
  }) }}
{% endblock %}
