{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("clinicBooking.check-appointment.confirm") %}
{% set title = __("clinicBooking.check-appointment.title", firstName) %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.check-appointment.summary.child"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(appointment.child, {
      fullName: {
        href: appointment.uri.new + "/child"
      },
      dob: {
        href: appointment.uri.new + "/dob"
      },
      address: {
        href: appointment.uri.new + "/address"
      },
      impairments: {
        href: appointment.uri.new + "/impairments"
      },
      adjustments: {
        href: appointment.uri.new + "/adjustments"
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.check-appointment.summary.appointment"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(appointment, {
      vaccinations: {
        href: appointment.uri.new + "/programmes"
      },
      fluVaccineType: {
        href: appointment.uri.new + "/flu-choice"
      },
      mmrVaccineType: {
        href: appointment.uri.new + "/mmr-alternative"
      },
      location: {
        href: appointment.uri.new + "/clinic-location"
      },
      date: {
        href: appointment.uri.new + "/clinic-date"
      },
      timeSlot: {
        href: appointment.uri.new + "/appointment-time-range"
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.check-appointment.summary.contact"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(booking.contact, {
      fullName: {
        href: appointment.uri.new + "/contact"
      },
      relationship: {
        href: appointment.uri.new + "/contact",
        value: wizardAppointment.formatted.parentalRelationship
      },
      hasParentalResponsibility: {
        href: appointment.uri.new + "/contact",
        value: wizardAppointment.parentHasParentalResponsibility
      },
      email: {
        href: appointment.uri.new + "/contact"
      },
      tel: {
        href: appointment.uri.new + "/contact"
      },
      sms: {
        href: appointment.uri.new + "/contact"
      },
      contactPreference: {
        href: booking.uri.new + "/contact-preference"
      }
    })
  }) }}
{% endblock %}
