{% extends "_layouts/form.njk" %}

{% set audience = "team" if patient else "parent" %}
{% set confirmButtonText = __("clinicBooking.check-answers.confirm." + audience) %}
{% set title = __("clinicBooking.check-answers.title", firstName) %}

{% block form %}
  {{ appHeading({
    title: title,
    summary: "Check the appointment details before completing the booking."
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.check-answers.summary.child"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(patient if patient else appointment.child, {
      fullName: {
        value: appointment.child.fullFriendlyName if not patient,
        href: "child" if not patient
      },
      preferredName: {
        href: "child" if not patient
      },
      dob: {
        href: "dob" if not patient
      },
      address: {
        href: "address" if not patient
      },
      impairments: {
        href: "impairments"
      },
      adjustments: {
        href: "adjustments"
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.check-answers.summary.appointment"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(appointment, {
      vaccinations: {
        href: "programmes"
      },
      fluVaccineType: {
        href: "flu-choice"
      },
      mmrVaccineType: {
        href: "mmr-alternative"
      },
      location: {
        href: "clinic-location"
      },
      date: {
        href: "clinic-date"
      },
      timeSlot: {
        href: "appointment-time-range"
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.check-answers.summary.contact"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(booking.contact, {
      fullName: {
        href: "contact"
      },
      relationship: {
        href: "contact",
        value: appointment.formatted.parentalRelationship
      },
      hasParentalResponsibility: {
        href: "contact",
        value: appointment.parentHasParentalResponsibility
      },
      email: {
        href: "contact"
      },
      tel: {
        href: "contact"
      },
      canSms: {
        href: "contact"
      },
      communicationNeeds: {
        href: "communication-needs"
      }
    })
  }) }}
{% endblock %}
