{% extends "_layouts/form.njk" %}

{% set audience = "team" if patient else "parent" %}
{% set confirmButtonText = __("clinicBooking.check-answers.confirm." + audience) %}
{% set title = __("clinicBooking.check-answers.title", firstName) %}

{% block form %}
  {{ appHeading({
    title: title,
    summary: "Check the appointment details before completing the booking."
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.check-answers.summary.child"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(patient if patient else appointment.child, {
      fullName: {
        value: appointment.child.fullFriendlyName if not patient,
        href: appointment.uri.new + "/child" if not patient
      },
      preferredName: {
        href: appointment.uri.new + "/child" if not patient
      },
      dob: {
        href: appointment.uri.new + "/dob" if not patient
      },
      address: {
        href: appointment.uri.new + "/address" if not patient
      },
      impairments: {
        href: appointment.uri.new + "/impairments" if not patient
      },
      adjustments: {
        href: appointment.uri.new + "/adjustments" if not patient
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.check-answers.summary.appointment"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(appointment, {
      vaccinations: {
        href: appointment.uri.new + "/programmes"
      },
      fluVaccineType: {
        href: appointment.uri.new + "/flu-choice"
      },
      mmrVaccineType: {
        href: appointment.uri.new + "/mmr-alternative"
      },
      location: {
        href: appointment.uri.new + "/clinic-location"
      },
      date: {
        href: appointment.uri.new + "/clinic-date"
      },
      timeSlot: {
        href: appointment.uri.new + "/appointment-time-range"
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.check-answers.summary.contact"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(booking.contact, {
      fullName: {
        href: appointment.uri.new + "/contact"
      },
      relationship: {
        href: appointment.uri.new + "/contact",
        value: appointment.formatted.parentalRelationship
      },
      hasParentalResponsibility: {
        href: appointment.uri.new + "/contact",
        value: appointment.parentHasParentalResponsibility
      },
      email: {
        href: appointment.uri.new + "/contact"
      },
      tel: {
        href: appointment.uri.new + "/contact"
      },
      sms: {
        href: appointment.uri.new + "/contact"
      },
      contactPreference: {
        href: booking.uri.new + "/contact-preference"
      }
    })
  }) }}
{% endblock %}
