{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("clinicBooking.check-feedback.confirm") %}
{% set title = __("clinicBooking.check-feedback.title") %}

{% block form %}
  {{ heading({
    text: title,
    size: "l"
  }) }}

  {#
    Note: primaryAbandonmentReason INTENTIONALLY differs in name from the model’s abandonmentPrimaryReason, as we
    want the primary reason recorded even if there's only one reason (it'll make later querying easier) but we
    don’t want summaryRows to pick up the value from the object's abandonmentPrimaryReason key when the formatted
    getter returns undefined for it
  #}

  {{ summaryList({
    card: {
      heading: {
        text: __("clinicBooking.check-feedback.summary"),
        size: "m"
      }
    },
    lastRowBorder: false,
    rows: summaryRows(appointment, {
      vaccinations: {},
      preferredPostcode: {
        href: appointment.uri.new + "/remove-preferred-location",
        changeText: __("clinicBooking.check-feedback.remove")
      },
      abandonmentReasons: {
        href: appointment.uri.new + "/not-convenient"
      },
      primaryAbandonmentReason: {
        href: appointment.uri.new + "/least-convenient"
      },
      convenientDistance: {
        href: appointment.uri.new + "/convenient-distance"
      },
      convenientDays: {
        href: appointment.uri.new + "/convenient-days"
      },
      convenientTimes: {
        href: appointment.uri.new + "/convenient-times"
      }
    })
  }) }}
{% endblock %}
