{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.childCount.title") %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ __("clinicBooking.childCount.description") | nhsukMarkdown }}

  {{ input({
    classes: "nhsuk-input--width-2",
    label: { text: __("clinicBooking.childCount.children.label") },
    hint: { text: __("clinicBooking.childCount.children.hint") },
    decorate: "transaction.childCount"
  }) }}
{% endblock %}
