{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.child.title") %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ __("clinicBooking.child.description") | nhsukMarkdown }}

  {{ input({
    label: { text: __("clinicBooking.child.firstName.label") },
    hint: { text: __("clinicBooking.child.firstName.hint") },
    decorate: "appointment.unmatchedFirstName"
  }) }}

  {{ input({
    label: { text: __("clinicBooking.child.lastName.label") },
    hint: { text: __("clinicBooking.child.lastName.hint") },
    decorate: "appointment.unmatchedLastName"
  }) }}

  {#
  {{ radios({
    fieldset: {
      legend: { text: __("clinicBooking.child.hasPreferredName.label") }
    },
    items: [{
      text: __("clinicBooking.child.hasPreferredName.yes"),
      conditional: {
        html: input({
          label: { text: __("clinicBooking.child.preferredFirstName.label") + " (optional)" },
          decorate: "clinicBooking.appointments[child_index].preferredFirstName"
        }) + input({
          label: { text: __("clinicBooking.child.preferredLastName.label") + " (optional)" },
          decorate: "clinicBooking.appointments[child_index].preferredLastName"
        })
      }
    }, {
      text: __("clinicBooking.child.hasPreferredName.no")
    }],
    decorate: "child.preferred-name-choice"
  }) }}
    #}
{% endblock %}
