{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.clinicDate.title", firstName) %}

{% block form %}
  {{ appHeading({
    title: title,
    caption: __("clinicBooking.appointment.caption", fullName) if transaction.childCount > 1
  }) }}

  {{ __("clinicBooking.clinicDate.location") | nhsukMarkdown }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("clinicBooking.clinicDate.date.label")
      }
    },
    items: [
      { text: 'Tuesday 24 February', value: '124' },
      { text: 'Wednesday 25 February', value: '125' },
      { text: 'Monday 2 March', value: '137' }
    ],
    decorate: "appointment.session_id"
  }) }}
{% endblock %}
