{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.clinicDistance.title") %}
{% set hideConfirmButton = true %}

{% set descriptionKey = "clinicBooking.clinicDistance.description.team" if patient else "clinicBooking.clinicDistance.description.parent" %}

{% block form %}
  {% set panelHtml %}
    {{ __(descriptionKey, {
      postcode: appointment.preferredPostcode,
      team: team
    }) | nhsukMarkdown }}

    <div class="nhsuk-button-group">
      {{ button({
        text: __("clinicBooking.clinicDistance.confirm"),
        variant: "reverse"
      }) }}
      <a href="{{ paths.back }}">{{ __("clinicBooking.clinicDistance.cancel") }}</a>
    </div>
  {% endset %}

  {{ panel({
    titleText: title,
    titleSize: "l",
    variant: "interruption",
    html: panelHtml
  }) }}
{% endblock %}
