{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.clinicDate.title", firstName) %}

{% block form %}
  {{ appHeading({
    title: title,
    caption: __("clinicBooking.appointment.caption", fullName) if childCount > 1
  }) }}

  {{ __("clinicBooking.clinicDate.location") | nhsukMarkdown }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("clinicBooking.clinicDate.date.label")
      }
    },
    items: clinicDateItems,
    decorate: "appointment.session_id"
  }) }}
{% endblock %}
