{% extends "_layouts/form.njk" %}

{% set audience = "parent" if isParentFacing else "team" %}
{% set title = __("clinicBooking.contact.hasCommunicationNeeds.title." + audience) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          title: title,
          caption: appointmentCaption
        })
      }
    },
    hint: __("clinicBooking.contact.hasCommunicationNeeds.hint." + audience),
    items: [{
      label: __("clinicBooking.contact.hasCommunicationNeeds.yes"),
      value: true,
      conditional: {
        html: textarea({
          label: __("clinicBooking.contact.communicationNeeds.title"),
          decorate: "booking.contact.communicationNeeds"
        })
      }
    }, {
      label: __("clinicBooking.contact.hasCommunicationNeeds.no"),
      value: false
    }],
    decorate: "booking.contact.hasCommunicationNeeds"
  }) }}
{% endblock %}
