{% extends "_layouts/default.njk" %}

{% set paths = { back: false } %}
{% set title = __("clinicBooking.confirmation.title") %}
{% set subtitle = __("clinicBooking.confirmation.subtitle", booking.bookingReference) %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ panel({
        titleText: title,
        html: subtitle | safe
      }) }}

      {% call insetText() %}
        <p>
          Make a note of your booking reference number if you have not entered an email
          address or mobile number. You’ll need it to view, change, or cancel your appointment.
        </p>
      {% endcall %}

      <h2 class="nhsuk-heading-l">
        What happens next?
      </h2>

      <p>
        If you entered an email address, you’ll get a confirmation email with your booking details.
      </p>

      <p>
        This email will contain your booking reference number and a link to change or cancel your
        appointment. You will also be able to answer any unanswered health questions via this link.
        Doing this ahead of the clinic will save time on the day.
      </p>

      <h2 class="nhsuk-heading-l">
        Help us to improve this service
      </h2>

      <p>
        Are you willing to answer some questions about your visit today? This typically takes around 2 minutes.
      </p>

      <p><a href="#">Take our survey</a></p>
    </div>
  </div>
{% endblock %}
