{% extends "_layouts/form.njk" %}

{% set audience = "team" if patient else "parent" %}
{% set title = __("clinicBooking.contact.contactPreference.title." + audience) %}
{% set hint = __("clinicBooking.contact.contactPreference.hint." + audience) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          title: title,
          caption: appointmentCaption
        })
      }
    },
    hint: { text: hint },
    items: [{
      text: __("clinicBooking.contact.contactPreference.yes"),
      value: true,
      conditional: {
        html: textarea({
          label: { text: __("clinicBooking.contact.contactPreferenceDetails.label") },
          decorate: "booking.contact.contactPreferenceDetails"
        })
      }
    }, {
      text: __("clinicBooking.contact.contactPreference.no"),
      value: false
    }],
    decorate: "booking.contact.contactPreference"
  }) }}
{% endblock %}
