{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.contact.title") %}

{% block form %}
  {% call fieldset({
    legend: {
      text: title,
      size: "l",
      isPageHeading: true
    }
  }) %}

    {{ input({
      label: { text: __("clinicBooking.contact.fullName.label") },
      decorate: "booking.contact.fullName"
    }) }}

    {% include "book-into-a-clinic/form/_parental-relationship.njk" %}

    {{ input({
      label: { text: __("clinicBooking.contact.email.label") },
      hint: { text: __("clinicBooking.contact.email.hint") },
      decorate: "booking.contact.email"
    }) }}

    {{ input({
      label: { text: __("clinicBooking.contact.tel.label") + " (optional)" },
      hint: { text: __("clinicBooking.contact.tel.hint") },
      decorate: "booking.contact.tel"
    }) }}

    {{ checkboxes({
      items: [{
        text: __("clinicBooking.contact.sms.label"),
        value: true
      }],
      decorate: "booking.contact.sms"
    }) }}

  {% endcall %}
{% endblock %}
