{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.convenientTimes.title") %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        isPageHeading: true,
        text: title,
        size: "l"
      }
    },
    hint: __("clinicBooking.convenientTimes.hint"),
    items: enumItems(PartOfTheDay),
    decorate: "appointment.convenientTimes"
  }) }}
{% endblock %}
