{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.deleteAppointment.title", firstName) %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ summaryList({
    card: {
      heading: appointment.fullFriendlyName,
      headingSize: "s",
      headingLevel: 4
    },
    lastRowBorder: false,
    rows: summaryRows(appointment, {
      location: {},
      date: {},
      vaccinations: {}
    })
  }) }}
{% endblock %}

{% block afterForm %}
  {{ appButtonGroup({
    buttons: [{
      text: __("clinicBooking.deleteAppointment.confirm"),
      variant: "warning"
    }],
    links: [{
      text: __("clinicBooking.deleteAppointment.cancel"),
      href: booking.uri.new + "/add-another"
    }]
  }) }}
{% endblock %}

