{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.dob.title", appointment.unmatchedFirstName) %}

{% block form %}
  {{ dateInput({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          title: title
        })
      }
    },
    hint: { text: __("clinicBooking.dob.hint") },
    decorate: "clinicAppointment.unmatchedDob_"
  }) }}
{% endblock %}
