{% extends "_layouts/form.njk" %}

{% set audience = "team" if patient else "parent" %}
{% set title = __("clinicBooking.fluAlternative.title." + audience, firstName) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          title: title,
          caption: appointmentCaption
        })
      }
    },
    hint: {
      text: __("clinicBooking.fluAlternative.hint")
    },
    items: [{
      text: __("clinicBooking.fluAlternative.yes.label." + audience),
      value: true
    }, {
      text: __("clinicBooking.fluAlternative.no.label." + audience),
      value: false
    }],
    decorate: "appointment.fluAlternative"
  }) }}
{% endblock %}
