{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.fluChoice.title", firstName) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          size: "l",
          title: title
        })
      }
    },
    items: [
      {
        text: __("clinicBooking.fluChoice.nasal.label"),
        hint: { text: __("clinicBooking.fluChoice.nasal.hint") },
        value: ReplyDecision.Given
      },
      {
        text: __('clinicBooking.fluChoice.injection.label'),
        hint: { text: __('clinicBooking.fluChoice.injection.hint') },
        value: ReplyDecision.OnlyAlternativeInjection
      }
    ],
    decorate: "appointment.fluDecision"
  }) }}
{% endblock %}
