{% extends "_layouts/form.njk" %}

{% set title = __("healthQuestions." + key + ".label") %}
{#
  The nasal flu vaccine and both of the MMR vaccines are live vaccines and not suitable
  for immunocompromised children. If we're showing this page for the immuneSystem health
  question, we need to know which vaccine types to say are live vaccines. Could be:
   - nasal spray flu vaccine is
   - MMR vaccine is
   - nasal spray flu and MMR vaccines are
#}
{% if key === "immuneSystem" %}
  {# TODO: Move this next line into the controller and update it for the logic above #}
  {% set hint = __mf("healthQuestions." + key + ".hintMulti", liveVaccines) %}
{% else %}
  {% set hint = __("healthQuestions." + key + ".hint") %}
{% endif %}
{% set detailsHint = __("healthQuestions." + key + ".detailsHint") %}

{% block form %}
  {% call fieldset({
    legend: {
      html: appHeading({
        title: title | replace('the child', 'your child'),
        caption: __("clinicBooking.healthAnswers.caption", fullName) if childCount > 1
      })
    }
  }) %}
    {% if __("healthQuestions." + key + ".options") %}
    <ul class="nhsuk-list nhsuk-list--bullet">
      {% for option in __("healthQuestions." + key + ".options") %}
        <li>{{ option }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {{ radios({
      hint: { text: hint } if hint,
      items: [{
        text: __("clinicBooking.healthAnswers.yes"),
        conditional: {
          html: textarea({
            label: { text: __("clinicBooking.healthAnswers.details") },
            hint: { text: detailsHint } if detailsHint,
            decorate: ["appointment", "healthAnswers", key, "details"]
          })
        } if not hasSubQuestions
      },
      {
        text: __("clinicBooking.healthAnswers.no")
      }],
      decorate: ["appointment", "healthAnswers", key, "answer"]
    }) }}
  {% endcall %}
{% endblock %}
