{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.impairments.title", firstName) %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: heading({
          caption: appointmentCaption,
          text: title,
          size: "l"
        })
      }
    },
    items: [{
      label: Impairment.Vision,
      hint: __("consent.child.impairments.vision.hint"),
      exclusiveGroup: "impairments-list"
    }, {
      label: Impairment.Hearing,
      hint: __("consent.child.impairments.hearing.hint"),
      exclusiveGroup: "impairments-list"
    }, {
      label: Impairment.Mobility,
      hint: __("consent.child.impairments.mobility.hint"),
      exclusiveGroup: "impairments-list"
    }, {
      label: Impairment.Memory,
      hint: __("consent.child.impairments.memory.hint"),
      exclusiveGroup: "impairments-list"
    }, {
      label: Impairment.MentalHealth,
      hint: __("consent.child.impairments.mentalHealth.hint"),
      exclusiveGroup: "impairments-list"
    }, {
      label: Impairment.Communicative,
      hint: __("consent.child.impairments.communicative.hint"),
      exclusiveGroup: "impairments-list"
    }, {
      label: Impairment.Other,
      conditional: {
        html: input({
          label: __("consent.child.impairmentsOther.title"),
          decorate: "appointment.child.impairmentsOther"
        })
      },
      exclusiveGroup: "impairments-list"
    },
    {
      divider: 'or'
    },
    {
      label: __("clinicBooking.impairments.none.label", firstName),
      value: Impairment.None,
      exclusiveGroup: "impairments-list",
      exclusive: true
    }],
    decorate: "appointment.child.impairments"
  }) }}
{% endblock %}
