{% extends "_layouts/form.njk" %}

{% set audience = "parent" if isParentFacing else "team" %}
{% set title = __("clinicBooking.mmrAlternative.title." + audience, firstName) %}
{% set hint = __("clinicBooking.mmrAlternative.hint") %}

{# Replace MMR with MMRV content as necessary #}
{% if data.clinicInvite.eligibleForMmrv %}
  {% set title = title | replace('MMR', 'MMRV') %}
  {% set hint = hint | replace('MMR', 'MMRV') %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          title: title,
          caption: appointmentCaption
        })
      }
    },
    hint: {
      text: hint
    },
    items: [{
      text: __("clinicBooking.mmrAlternative.yes.label." + audience, firstName),
      value: true
    }, {
      text: __("clinicBooking.mmrAlternative.no.label." + audience, firstName),
      value: false
    }],
    decorate: "appointment.mmrAlternative"
  }) }}
{% endblock %}
