{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.offerHealthQuestions.title") %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ __("clinicBooking.offerHealthQuestions.bookingReference", booking.bookingReference) | nhsukMarkdown }}

  {{ __("clinicBooking.offerHealthQuestions.beforeYouGo") | nhsukMarkdown }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("clinicBooking.offerHealthQuestions.label"),
        size: "m"
      }
    },
    items: [
    {
      text: __('clinicBooking.offerHealthQuestions.yes'),
      value: true
    },
    {
      text: __('clinicBooking.offerHealthQuestions.no'),
      value: false
    }],
    decorate: "transaction.optedIntoHealthQuestions"
  }) }}
{% endblock %}
