{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.parent.title") %}

{% block form %}
  {% call fieldset({
    legend: {
      text: title,
      size: "l",
      isPageHeading: true
    }
  }) %}

    {{ input({
      label: { text: __("clinicBooking.parent.fullName.label") },
      decorate: "booking.parent.fullName"
    }) }}

    {{ input({
      label: { text: __("clinicBooking.parent.email.label") },
      hint: { text: __("clinicBooking.parent.email.hint") },
      decorate: "booking.parent.email"
    }) }}

    {{ input({
      label: { text: __("clinicBooking.parent.tel.label") + " (optional)" },
      hint: { text: __("clinicBooking.parent.tel.hint") },
      decorate: "booking.parent.tel"
    }) }}

    {{ checkboxes({
      items: [{
        text: __("clinicBooking.parent.sms.label"),
        value: true
      }],
      decorate: "booking.parent.sms"
    }) }}

  {% endcall %}    
{% endblock %}
