{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.preferredLocationMatches.title", transaction.preferredLocation) %}

{% block form %}
  {{ appHeading({
    title: title,
    caption: __("clinicBooking.appointment.caption", fullName) if childCount > 1
  }) }}

  {{ radios({
    fieldset: {
      legend: { text: __("clinicBooking.preferredLocationMatches.hits.label") }
    },
    items: [{
      text: transaction.preferredLocation + ' upon Tyne, NE1',
      value: 'NE1'
    },
    {
      text: transaction.preferredLocation + '-under-Lyme, ST5',
      value: 'ST5'
    },
    {
      text: transaction.preferredLocation + ', SY7',
      value: 'SY7'
    },
    {
      divider: 'or'
    },
    {
      text: __('clinicBooking.preferredLocationMatches.tryAgain'),
      value: 'retry'
    }],
    decorate: "appointment.preferredPostcode"
  }) }}
{% endblock %}
