{% extends "_layouts/form.njk" %}

{% set audience = "parent" if isParentFacing else "team" %}
{% set title = __("clinicBooking.preferredLocation.title." + audience, firstName) %}

{% block form %}
  {{ appHeading({
    title: title,
    caption: appointmentCaption
  }) }}

  {{ input({
    label: { text: __("clinicBooking.preferredLocation.location.label") },
    hint: { text: __("clinicBooking.preferredLocation.location.hint") },
    decorate: "journeyData.preferredLocation"
  }) }}
{% endblock %}
