{% extends "_layouts/form.njk" %}

{% set audience = "parent" if isParentFacing else "team" %}
{% set title = __mf("clinicBooking.programmes.title." + audience, {
  count: programmeItems.length,
  firstName: firstName
}) %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: appHeading({
          title: title,
          caption: appointmentCaption,
          summary: __mf("clinicBooking.programmes.eligibility", {
            count: programmeItems.length,
            firstName: patient.firstName
          }) | nhsukMarkdown if patient
        }),
        size: "l"
      }
    },
    hint: { text: __("clinicBooking.programmes.hint") } if programmeItems.length > 1 and isParentFacing,
    items: programmeItems,
    decorate: "appointment.selected_programme_ids"
  }) }}
{% endblock %}
