{% extends "_layouts/form.njk" %}

{% set titleKey = "clinicBooking.programmes.title.team" if patient
             else "clinicBooking.programmes.title.parent" %}
{% set title = __mf(titleKey, {
  count: programmeItems.length,
  firstName: firstName
}) %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: appHeading({
          title: title,
          caption: __("clinicBooking.appointment.caption", fullName) if childCount > 1,
          summary: __mf("clinicBooking.programmes.eligibility", {
            count: programmeItems.length,
            firstName: patient.firstName
          }) | nhsukMarkdown if patient
        }),
        size: "l"
      }
    },
    hint: { text: __("clinicBooking.programmes.hint") } if programmeItems.length > 1 and not patient,
    items: programmeItems,
    decorate: "appointment.selected_programme_ids"
  }) }}
{% endblock %}
