{% extends "_layouts/form.njk" %}

{% set title = __mf("clinicBooking.programmes.title", {
  count: programmeItems.length,
  firstName: firstName
}) %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: appHeading({
          title: title,
          caption: __("clinicBooking.appointment.caption", fullName) if childCount > 1
        }),
        size: "l"
      }
    },
    hint: { text: __("clinicBooking.programmes.hint") } if programmeItems.length > 1,
    items: programmeItems,
    decorate: "appointment.selected_programme_ids"
  }) }}
{% endblock %}
