{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.sessionSelection.title", firstName) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: appointmentCaption,
          text: title,
          size: "l"
        })
      }
    },
    hint: __("clinicBooking.sessionSelection.hint"),
    items: previousSessionItems,
    decorate: "journeyData.sessionChoice"
  }) }}
{% endblock %}
