{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.shortenAppointment.title") %}
{% set hideConfirmButton = true %}

{% block form %}
{% set scenarioKey = "specificSlot" if slotStartTime else "anySlot" %}
  {% set panelHtml %}
    {{ __mf("clinicBooking.shortenAppointment.description." + scenarioKey, {
      requiredMinutes: requiredMinutes,
      requiredSlots: requiredSlots,
      availableMinutes: availableMinutes,
      availableSlots: availableSlots,
      slotStartTime: slotStartTime
    }) | nhsukMarkdown }}

    <div class="nhsuk-button-group">
      {{ button({
        text: __("clinicBooking.shortenAppointment.confirm"),
        variant: "reverse"
      }) }}
      {{ link(session.uri + "/appointments", __("clinicBooking.shortenAppointment.cancel")) | nhsukMarkdown }}
    </div>
  {% endset %}

  {{ panel({
    heading: {
      text: title,
      size: "l"
    },
    variant: "interruption",
    html: panelHtml
  }) }}
{% endblock %}
