{% extends "_layouts/form.njk" %}

{% set title = __("clinicBooking.teamHealthQuestions.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        heading: title,
        size: "l"
      }
    },
    items: [
      {
        label: __('clinicBooking.teamHealthQuestions.yes'),
        value: true
      },
      {
        label: __('clinicBooking.teamHealthQuestions.no'),
        value: false
      }
    ],
    decorate: "journeyData.optedIntoHealthQuestions"
  }) }}
{% endblock %}
