{% extends "_layouts/form.njk" %}

{%- from "_macros/triage-form.njk" import appTriageForm with context %}

{% set title = __("triage.new.title") %}

{% block form %}
  {{ appHeading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ appTriageForm({
    context: patientProgramme
  }) }}
{% endblock %}
