{% extends "_layouts/form.njk" %}

{% set title = __("team.sessions.clinic.title") %}

{% block form %}
  {{ heading({
    caption: team.name,
    text: title,
    size: "l"
  }) }}

  {{ insetText({
    text: __("team.sessions.clinic.text")
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-7"
    },
    label: {
      text: __("team.nasalSprayDuration.title"),
      size: "m"
    },
    hint: __("team.nasalSprayDuration.hint"),
    suffix: "minutes",
    width: 2,
    decorate: "team.clinicNasalSprayDuration"
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-7"
    },
    label: {
      text: __("team.injectionDuration.title"),
      size: "m"
    },
    hint: __("team.injectionDuration.hint"),
    suffix: "minutes",
    width: 2,
    decorate: "team.clinicInjectionDuration"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("team.hasClinicSessionRegistration.title"),
        size: "m"
      }
    },
    inline: true,
    items: getBooleanItems(),
    decorate: "team.hasClinicSessionRegistration"
  }) }}
{% endblock %}
