{% extends "_layouts/form.njk" %}

{% set title = __("team.sessions.clinic.title") %}

{% block form %}
  {{ appHeading({
    caption: team.name,
    title: title
  }) }}

  {{ insetText({
    text: __("team.sessions.clinic.text")
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-7"
    },
    label: {
      classes: "nhsuk-label--m",
      text: __("team.nasalSprayDuration.title")
    },
    hint: { text: __("team.nasalSprayDuration.hint") },
    suffix: "minutes",
    width: 2,
    decorate: "team.clinicNasalSprayDuration"
  }) }}

  {{ input({
    formGroup: {
      classes: "nhsuk-u-margin-bottom-7"
    },
    label: {
      classes: "nhsuk-label--m",
      text: __("team.injectionDuration.title")
    },
    hint: { text: __("team.injectionDuration.hint") },
    suffix: "minutes",
    width: 2,
    decorate: "team.clinicInjectionDuration"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("team.clinicSessionRegistration.title")
      }
    },
    inline: true,
    items: getBooleanItems(),
    decorate: "team.clinicSessionRegistration"
  }) }}
{% endblock %}
