{% extends "_layouts/form.njk" %}

{% set title = __("team.contact.title") %}

{% block form %}
  {{ appHeading({
    caption: team.name,
    title: title
  }) }}

  {{ input({
    label: __("team.email.label"),
    decorate: "team.email"
  }) }}

  {{ input({
    label: __("team.tel.label"),
    decorate: "team.tel",
    type: "tel"
  }) }}

  {{ input({
    label: __("team.privacyPolicyUrl.label"),
    hint: __("team.privacyPolicyUrl.hint"),
    decorate: "team.privacyPolicyUrl",
    type: "url"
  }) }}
{% endblock %}
