{% extends "_layouts/form.njk" %}

{% set title = __("school.phase.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: school.name,
          text: title,
          size: "l"
        })
      }
    },
    items: enumItems(SchoolPhase),
    decorate: "school.phase"
  }) }}
{% endblock %}
