{% extends "_layouts/form.njk" %}

{% set title = __("school.isSen.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: school.name,
          text: title,
          size: "l"
        })
      }
    },
    items: getBooleanItems(),
    decorate: "school.isSen"
  }) }}
{% endblock %}
