{% extends "_layouts/form.njk" %}

{% set title = __("school.yearGroups.title") %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        html: heading({
          caption: school.name,
          text: title,
          size: "l"
        })
      }
    },
    items: yearGroupItems,
    decorate: "school.yearGroups"
  }) }}
{% endblock %}
