Dear {{ school.name }},

We are the local vaccination team for your school. We need information about the children in [target year groups] who may be offered vaccinations.

You can send us this information securely using the NHS service Manage vaccinations in schools (Mavis).

## How Mavis helps your school

Using Mavis means you can:
- send pupil information securely instead of by email
- see which pupils have consent to be vaccinated
- see which pupils need to attend upcoming vaccination sessions

## What information we need

Please send us a spreadsheet containing information about the children in {{ school.formatted.yearGroups }}, including:

- their name and date of birth
- their year or registration group
- contact details for their parents or carers

Most school management information systems allow you to export this information.

## How to send us the information

You’ll need a DfE Sign-in account to access Mavis.

Mavis will tell you what information your spreadsheet needs to contain and let you know if you need to fix anything before you send it.

Exports from Arbor, Bromcom and SIMS are directly compatible with Mavis

[Send pupil information using Mavis](/start-schools)

We’ll review the information you send and contact you if we need anything else.

## Sharing personal data

Government guidance says schools should share necessary data with vaccination teams to support school vaccination programmes.

[Find out more about data-sharing for vaccination programmes on GOV.UK](https://www.gov.uk/guidance/data-protection-in-schools/sharing-personal-data#school-immunisation-programmes).

## If you need help

To contact us:

- email {{ team.email }}
- telephone {{ team.tel }}

Regards,

{{ team.name }}
