We are planning vaccinations and would appreciate it if you could send us your class lists for years {{ school.formatted.yearGroups }} using the upload link below.

- The format we need it in
- Attached information on how to get data out of 3 main school MIS in the right format
- Information about vaccinations to share with your students

Once you have the information, please [click this link to upload it](/start-schools) to us.

You can legally share this information with us under data protection laws, [see school immunisation programmes on GOV.UK](https://www.gov.uk/guidance/data-protection-in-schools/sharing-personal-data#school-immunisation-programmes).

Thank you,

{{ team.name }}
