To the school administrator for {{ school.name }},

We’re contacting you to request your class lists for Years 11 and 12. This is so that we have accurate records for our school-age vaccination programmes during 2026 to 2027.

Sharing necessary data to support vaccination programmes is also a legal requirement. [Find find out more about data-sharing for vaccination programmes on GOV.UK](https://www.gov.uk/guidance/data-protection-in-schools/sharing-personal-data#school-immunisation-programmes).

## How to submit your class lists

We’ve made it easier to provide us with class lists.

Instead of emailing files to us, send us the information securely using the NHS’s Manage vaccinations in schools (Mavis) service. You can access Mavis using Department for Education (DfE) Sign-in.

[Submit your class lists](/start-schools)

## If you have questions

To contact us:

- email {{ team.email }}
- telephone {{ team.tel }}

Regards,

{{ team.name }}
