{% extends "_layouts/default.njk" %}

{% set title = false %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({
        text: __("clinicBooking.availability.title.invited")
      }) }}

      {% set programmeNames = data.programmesToOffer.programmeNames | formatList('disjunction') %}
      {% call insetText() %}
        {{ __("clinicBooking.availability.problem", { programmes: programmeNames }) | nhsukMarkdown }}
      {% endcall %}

      {{ __("clinicBooking.availability.guidance", { team: team }) | nhsukMarkdown }}
    </div>
  </div>
{% endblock %}
