{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("form.confirm") %}
{% set title = __("clinicBooking.edit.title") %}

{% macro changePathWithReferrer(view) -%}
  {{- appointment.uri.edit }}/{{ view }}?referrer={{ appointment.uri.edit }}/edit
{%- endmacro %}

{% block form %}
  {{ heading({
    caption: appointmentCaption,
    text: title,
    size: "l"
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.edit.summary.appointment"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(appointment, {
      location: {
        href: changePathWithReferrer("clinic-location") if journeyData.journeyType !== ClinicBookingJourneyType.DataMigration
      },
      date: {
        href: changePathWithReferrer("clinic-date") if journeyData.journeyType !== ClinicBookingJourneyType.DataMigration
      },
      timeSlot: {
        href: changePathWithReferrer("appointment-time-range") if (journeyData.journeyType !== ClinicBookingJourneyType.DataMigration) and (not journeyData.preselectedSlot)
      }
    })
  }) }}
{% endblock %}
