{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("form.confirm") %}
{% set title = __("clinicBooking.edit.title") %}

{% block form %}
  {{ appHeading({
    caption: "Appointment for LASTNAME, Firstname",
    title: title
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.edit.summary.child"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(appointment.child if isParentFacing else patient, {
      fullName: {
        value: appointment.child.fullFriendlyName if isParentFacing
      },
      preferredName: {},
      dob: {},
      address: {},
      impairments: {},
      adjustments: {}
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.edit.summary.appointment"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(appointment, {
      vaccinations: {},
      fluVaccineType: {},
      mmrVaccineType: {},
      location: {
        href: appointment.uri.edit + "/clinic-location" if journeyData.journeyType !== ClinicBookingJourneyType.DataMigration
      },
      date: {
        href: appointment.uri.edit + "/clinic-date" if journeyData.journeyType !== ClinicBookingJourneyType.DataMigration
      },
      timeSlot: {
        href: appointment.uri.edit + "/appointment-time-range" if (journeyData.journeyType !== ClinicBookingJourneyType.DataMigration) and (not journeyData.preselectedSlot)
      }
    })
  }) }}

  {{ summaryList({
    card: {
      heading: __("clinicBooking.edit.summary.contact"),
      headingSize: "m"
    },
    lastRowBorder: false,
    rows: summaryRows(booking.contact, {
      fullName: {},
      relationship: {
        value: appointment.formatted.parentalRelationship
      },
      hasParentalResponsibility: {
        value: appointment.parentHasParentalResponsibility
      },
      email: {},
      tel: {},
      canSms: {},
      communicationNeeds: {}
    })
  }) }}
{% endblock %}
