{% extends "_layouts/default.njk" %}

{% set title = false %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ appHeading({
        size: "xl",
        title: __("clinicBooking.start.title")
      }) }}

      {{ __("clinicBooking.start.intro") | nhsukMarkdown }}
      
      {{ __("clinicBooking.start.programmes", { programmeNames: data.clinicInvite.programmeNames }) | nhsukMarkdown }}

      {{ button({
        text: __("clinicBooking.start.confirm"),
        href: "/book-into-a-clinic/new"
      }) }}

      <h2>
        {{ __("clinicBooking.start.otherMethods.title") }}
      </h2>

      {{ __("clinicBooking.start.otherMethods.description", bookingPhoneNumber) | nhsukMarkdown }}
    </div>
  </div>
{% endblock %}