{% extends "_layouts/default.njk" %}

{% set title = __("clinicAppointment.show.title", clinicAppointment.patient.fullName) %}

{% block content %}
  <div class="nhsuk-u-width-three-quarters">
    {{ super() }}

    {{ appHeading({
      title: title
    }) }}

    {{ summaryList({
      card: {
        heading: __("child.label"),
        headingSize: "m"
      },
      rows: summaryRows(clinicAppointment.patient, {
        fullName: {},
        preferredFirstName: {},
        preferredLastName: {},
        dob: {},
        address: {},
        gpSurgery: {},
        school: {}
      })
    }) if clinicAppointment.patient }}

    {{ summaryList({
      card: {
        heading: __("clinicAppointment.label"),
        headingSize: "m"
      },
      rows: summaryRows(clinicAppointment, {
        location: {},
        date: {},
        timeSlot: {},
        vaccinations: {}
      })
    }) if clinicAppointment }}

    {{ summaryList({
      card: {
        heading: __("parent.label"),
        headingSize: "m"
      },
      rows: summaryRows(clinicAppointment.parent, {
        fullName: {},
        relationship: {},
        hasParentalResponsibility: {},
        email: {},
        tel: {},
        contactPreference: {},
        sms: {}
      })
    }) if clinicAppointment.parent }}

  </div>
{% endblock %}
