{% extends "_layouts/default.njk" %}

{% set title = "Activity log items" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({
        text: title,
        size: "l"
      }) }}

      {% for group in activityLog %}
        {{ heading({
          text: group.title,
          level: 2,
          size: "m"
        }) }}

        {{ appTimeline({
          items: timelineItems(group.items)
        }) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
