{% from "_macros/action-list.njk" import appActionList %}
{% from "_macros/heading.njk" import appHeading %}
{% from "_macros/section-navigation.njk" import appSectionNavigation %}

{% macro patientNavigation(params) %}
  {{ appHeading({
    title: params.patient.fullName
  }) }}

  {{ appActionList({
    items: [{
      tag: {
        text: __("patient.isArchived.label"),
        classes: "nhsuk-tag--grey"
      }
    }]
  }) if patient.isArchived }}

  {{ appSectionNavigation({
    items: sectionNavigationItems
  }) }}

  {{ appHeading({
    classes: "nhsuk-u-visually-hidden",
    title: patientProgramme.name or __("patient." + params.view + ".title"),
    level: 2
  }) }}
{% endmacro %}
