{% extends "_layouts/form.njk" %}

{% set paths = { back: patient.uri } %}
{% set title = __("patient.archive.title") %}

{% block form %}
  {% set duplicateHtml = input({
    label: __("patient.archive.duplicate.label"),
    hint: __("patient.archive.duplicate.hint"),
    code: true,
    width: 10
  }) %}

  {% set otherHtml = input({
    label: __("patient.archiveReasonOther.label"),
    decorate: "patient.archiveReasonOther"
  }) %}

  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: patient.fullName,
          text: title,
          size: "l"
        })
      }
    },
    items: injectConditionalHtml(injectConditionalHtml(archiveRecordReasonItems, ArchiveRecordReason.Other, otherHtml), ArchiveRecordReason.Duplicate, duplicateHtml),
    decorate: "patient.archiveReason"
  }) }}
{% endblock %}

{% block afterForm %}
  {{ appButtonGroup({
    buttons: [{
      text: __("patient.archive.confirm"),
      variant: "warning",
      attributes: {
        formAction: patient.uri + "/archive"
      }
    }],
    links: [{
      text: __("patient.archive.cancel"),
      href: patient.uri
    }]
  }) }}
{% endblock %}
