{% from "_macros/patient-search.njk" import appPatientSearch with context %}

{% extends "_layouts/form.njk" %}

{% set gridColumns = "full" %}
{% set hideConfirmButton = true %}
{% set title = __("patient.list.title") %}

{% block form %}
  {{ super() }}

  {{ appHeading({
    title: title
  }) }}

  {{ actionLink({
    text: __("pdsRecord.start.label"),
    href: "/pds/new/start"
  }) if not account.isSchoolUser }}

  <div class="nhsuk-grid-row">
    <app-auto-submit class="app-grid-column-filters">
      {{ appPatientSearch({
        clear: "/patients",
        hideClinicStatuses: account.isSchoolUser,
        hideProgrammeStatuses: account.isSchoolUser
      }) }}
    </app-auto-submit>

    <div class="app-grid-column-results">
      {% if initial %}
        {{ appHeading({
          level: 2,
          size: "m",
          title: __("search.results"),
          summary: __("search.initial.default") | safe
        }) }}
      {% else %}
        {{ appHeading({
          level: 2,
          size: "m",
          title: __("search.results"),
          summary: __mf("patient.results.summary", {
            from: results.from,
            to: results.to,
            count: results.count
          }) | safe
        }) }}

        {% if showingClinicReady and results.count > 0 %}
          {% call insetText({
            classes: "nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4"
          }) %}
            {{ appHeading({
              level: 3,
              size: "s",
              title: __mf("patient.results.inviteToClinic.title", { count: results.count }),
              summary: __("patient.results.inviteToClinic.hint")
            }) }}

            {{ actionLink({
              text: __mf("patient.results.inviteToClinic.link", { count: results.count }),
              href: "/patients/invite-to-clinic" + query | asQueryString
            }) }}
          {% endcall %}
        {% endif %}

        {% for patient in results.page %}
          {% set reportStatusHtml -%}
            {%- if data.programme_id %}
              {%- for id, patientProgramme in patient.activeProgrammes -%}
                {%- if data.programme_id | includes(id) -%}
                  {{ patientProgramme.formatted.programmeStatus | nhsukMarkdown }}
                {%- endif -%}
              {%- endfor %}
            {% else %}
              {%- for id, patientProgramme in patient.activeProgrammes -%}
                {{ patientProgramme.formatted.programmeStatus | nhsukMarkdown }}
              {%- endfor %}
            {% endif %}
          {%- endset %}

          {% set consentStatusHtml -%}
            {%- if data.programme_id %}
              {%- for id, patientProgramme in patient.activeProgrammes -%}
                {%- if data.programme_id | includes(id) -%}
                  {{ patientProgramme.formatted.consentStatus | nhsukMarkdown }}
                {%- endif -%}
              {%- endfor %}
            {% else %}
              {%- for id, patientProgramme in patient.activeProgrammes -%}
                {{ patientProgramme.formatted.consentStatus | nhsukMarkdown }}
              {%- endfor %}
            {% endif %}
          {%- endset %}

          {{ summaryList({
            card: {
              classes: "app-card--compact",
              heading: patient.fullAndPreferredNames | highlightQuery(data.q) | safe,
              headingSize: "s",
              headingLevel: 3,
              href: patient.uri,
              clickable: true
            },
            lastRowBorder: false,
            rows: summaryRows(patient, {
              dob: {},
              school: {
                value: patient.school.name | highlightQuery(data.q)
              },
              yearGroup: {},
              report: {
                label: __("patientSession.consent.label"),
                value: consentStatusHtml
              }
            }) if account.isSchoolUser else summaryRows(patient, {
              nhsn: {
                value: patient.formatted.nhsn | highlightQuery(data.q)
              },
              dob: {},
              school: {
                value: patient.school.name | highlightQuery(data.q)
              },
              yearGroup: {},
              clinicProgramme_ids: {},
              report: {
                label: __("patientSession.report.label"),
                value: reportStatusHtml
              }
            })
          }) }}
        {% endfor %}

        {{ pagination(pages) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
