{% extends "_layouts/form.njk" %}

{% block afterForm %}
  {% if not patient %}
    {{ appButtonGroup({
      buttons: [
        {
          text: __("form.continue")
        }
      ],
      links: [
        {
          text: __("clinicBooking.abandon.label"),
          href: appointment.uri.new + "/not-convenient"
        }
      ]
    }) }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
