{%- from "nhsuk/components/heading/macro.njk" import heading %}
{%- from "nhsuk/components/warning-callout/macro.njk" import warningCallout %}
{%- from "_macros/section-navigation.njk" import appSectionNavigation %}

{% macro schoolNavigation(params) %}
  {{ heading({
    text: params.school.location.name,
    size: "l",
    caption: {
      text: school.formatted.address,
      placement: "after"
    }
  }) }}

  {{ warningCallout({
    classes: "nhsuk-u-margin-bottom-4",
    heading: school.status,
    html: school.statusDescription | nhsukMarkdown
  }) if school.statusDescription }}

  {% if params.school.id != "888888" and params.school.id != "999999" %}
    {{ appSectionNavigation({
      items: [
        {
          text: __("school.show.label"),
          href: params.school.uri,
          current: params.view == "show"
        },
        {
          text: __("school.sessions.label"),
          href: params.school.uri + "/sessions",
          current: params.view == "sessions"
        }
      ]
    }) }}

    {{ heading({
      classes: "nhsuk-u-visually-hidden",
      text: __("school." + params.view + ".title"),
      level: 2
    }) }}
  {% endif %}
{% endmacro %}
