{% extends "_layouts/form.njk" %}

{% set title = __("school.inviteToClinic.title") %}
{% set confirmButtonText = __("school.inviteToClinic.confirm") %}

{% block form %}
  {{ heading({
    caption: school.name,
    text: title,
    size: "l"
  }) }}

  {{ __mf("school.inviteToClinic.count", {
    count: school.patients.length
  }) | nhsukMarkdown }}

  {{ __("school.inviteToClinic.description", "1 June 2026") | nhsukMarkdown }}

  {{ checkboxes({
    fieldset: {
      legend: {
        text: __("school.inviteToClinic.programme"),
        size: "m"
      }
    },
    items: [
      {
        label: ProgrammeType.Flu,
        hint: __mf("school.inviteToClinic.flu", {
          count: school.patientsToInviteToSession('flu').length
        }),
        value: "flu"
      } if school.patientsToInviteToSession('flu').length,
      {
        label: ProgrammeType.HPV,
        hint: __mf("school.inviteToClinic.hpv", {
          count: school.patientsToInviteToSession('hpv').length
        }),
        value: "hpv"
      } if school.patientsToInviteToSession('hpv').length,
      {
        label: ProgrammeType.MenACWY,
        hint: __mf("school.inviteToClinic.menacwy", {
          count: school.patientsToInviteToSession('menacwy').length
        }),
        value: "menacwy"
      } if school.patientsToInviteToSession('menacwy').length,
      {
        label: ProgrammeType.MMR,
        hint: __mf("school.inviteToClinic.mmr", {
          count: school.patientsToInviteToSession('mmr').length
        }),
        value: "mmr"
      } if school.patientsToInviteToSession('mmr').length,
      {
        label: ProgrammeType.TdIPV,
        hint: __mf("school.inviteToClinic.td-ipv", {
          count: school.patientsToInviteToSession('td-ipv').length
        }),
        value: "td-ipv"
      } if school.patientsToInviteToSession('td-ipv').length
    ],
    decorate: "clinicProgramme_ids"
  }) }}
{% endblock %}
