{% extends "_layouts/form.njk" %}

{% set title = __("pdsRecord.school.title", pdsRecord.firstName) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: pdsRecord.fullName,
          text: title,
          size: "l"
        })
      }
    },
    items: [
      {
        label: __("pdsRecord.school.yes.label"),
        value: "urn",
        conditional: {
          html: select({
            label: __("pdsRecord.school_id.title"),
            items: locationItems(data.schools, pdsRecord.urn),
            decorate: "pdsRecord.school_id",
            attributes: {
              "data-module": "app-autocomplete"
            }
          })
        }
      },
      {
        label: __("pdsRecord.school.unknown.label"),
        value: "888888"
      },
      {
        label: __("pdsRecord.school.home-educated.label"),
        value: "999999"
      }
    ],
    decorate: "school_id"
  }) }}
{% endblock %}
