{% extends "_layouts/form.njk" %}

{% set title = __("pdsRecord.start.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        text: title,
        size: "l"
      }
    },
    items: [
      {
        label: "Yes",
        value: true,
        conditional: {
          html: input({
            label: __("pdsRecord.nhsn.title"),
            hint: __("pdsRecord.nhsn.hint"),
            code: true,
            width: 10,
            name: "nhsn"
          })
        }
      },
      {
        label: "No",
        value: false
      }
    ],
    decorate: "hasNhsNumber"
  }) }}
{% endblock %}
