{% extends "_layouts/default.njk" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">APPLEBY, Adam</h1>

      <div class="nhsuk-card">
        <div class="nhsuk-card__heading-container">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            Vaccination record
          </h2>
          <div class="nhsuk-card__actions">
            <a class="nhsuk-link" href="#">Edit vaccination record<span class="nhsuk-u-visually-hidden"> (Vaccination record)</span></a>
          </div>
        </div>
        <div class="nhsuk-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Programme
              </dt>
              <dd class="nhsuk-summary-list__value">
                <strong class="nhsuk-tag app-tag--transparent">MMR</strong>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Outcome
              </dt>
              <dd class="nhsuk-summary-list__value">
                <strong class="nhsuk-tag nhsuk-tag--white">Vaccinated</strong>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccine
              </dt>
              <dd class="nhsuk-summary-list__value">
                MMRVAXPRO
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Method
              </dt>
              <dd class="nhsuk-summary-list__value">
                Subcutaneous injection
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Site
              </dt>
              <dd class="nhsuk-summary-list__value">
                Left arm (upper position)
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Dose volume
              </dt>
              <dd class="nhsuk-summary-list__value">
                0.5 ml
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Dose sequence
              </dt>
              <dd class="nhsuk-summary-list__value">
                2nd primary dose
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Batch number
              </dt>
              <dd class="nhsuk-summary-list__value">
                M072B25
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Child identified by
              </dt>
              <dd class="nhsuk-summary-list__value">
                The child
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Supplier
              </dt>
              <dd class="nhsuk-summary-list__value">
                SMITH, John
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccinator
              </dt>
              <dd class="nhsuk-summary-list__value">
                PATEL, Priya
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccination date
              </dt>
              <dd class="nhsuk-summary-list__value">
                16 May 2021 at 12:00 pm
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Record updated
              </dt>
              <dd class="nhsuk-summary-list__value">
                16 May 2021 at 12:00 pm
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Location
              </dt>
              <dd class="nhsuk-summary-list__value">
                Riverside Primary School
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Protocol
              </dt>
              <dd class="nhsuk-summary-list__value">
                Patient Group Direction (PGD)
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Notes
              </dt>
              <dd class="nhsuk-summary-list__value">
                <p>Vaccination given without complications.</p>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Source
              </dt>
              <dd class="nhsuk-summary-list__value">
                Recorded in Mavis
              </dd>
            </div>
            <div class="nhsuk-summary-list__row nhsuk-summary-list__row--no-border">
              <dt class="nhsuk-summary-list__key">
                Synced with NHS England?
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span><strong class="nhsuk-tag nhsuk-tag--green">Synced</strong></span>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
