{% extends "_layouts/default.njk" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">Parent-facing views (research)</h1>

      <ul class="nhsuk-list">
        <li>
          <a href="/parent-test/rosa">Rosa</a>
        </li>
        <li>
          <a href="/parent-test/maya">Maya</a>
        </li>
        <li>
          <a href="/parent-test/theo">Theo</a>
        </li>
        <li>
          <a href="/parent-test/priya">Priya</a>
        </li>
        <li>
          <a href="/parent-test/idris">Idris</a>
        </li>
        <li>
          <a href="/parent-test/esme">Esme</a>
        </li>
        <li>
          <a href="/parent-test/caleb">Caleb</a>
        </li>
        <li>
          <a href="/parent-test/understanding-records">Understanding your child’s record</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
