{% extends "_layouts/default.njk" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Understanding your child’s record</h1>

      <h2 class="nhsuk-heading-l" id="how-we-calculate">How we calculate vaccination status</h2>
      <p>To calculate a child’s vaccination status:</p>

      <ol class="nhsuk-list nhsuk-list--number">
        <li>We analyse a child’s vaccination records from a variety of sources such as GP practices, school vaccination services, regional child health information services and parents (for example, if a child was vaccinated in another country).</li>
        <li>We combine these records and list them, from the 1st vaccination onwards, to form a vaccination history for that child.</li>
        <li>We compare the vaccination history against the
        <a href="https://www.gov.uk/government/publications/routine-childhood-immunisation-schedule/routine-childhood-immunisations-from-1-july-2025-babies-born-from-1-july-2024">UK Health Security Agency (UKHSA) routine schedule</a>
        to check that:
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>they have had all the appropriate vaccines for their age</li>
            <li>the 1st dose was after the minimum starting age for that vaccine</li>
            <li>they had the vaccinations with the correct length of time between doses for that vaccine</li>
          </ul>
        </li>
      </ol>

      <p>If a vaccination dose appears to be missing (if there is no record of it, or the child was too young, or it was too close to another dose) we show this on the vaccination status.</p>

      <h2 class="nhsuk-heading-l" id="not-counted-doses">Not counted doses</h2>
      <p>"Not counted doses" means vaccine doses that may not contribute to the child’s immunity because they were given too early or outside the
      <a href="https://www.gov.uk/government/publications/routine-childhood-immunisation-schedule/routine-childhood-immunisations-from-1-july-2025-babies-born-from-1-july-2024">UK Health Security Agency (UKHSA) routine schedule</a>.</p>
      <p>For example, doses of measles-containing vaccines given before a child’s 1st birthday do not count, so the next dose they get after the age of 12 months will count as their 1st dose. Similarly, if a child had a vaccination less than 4 weeks after an earlier vaccination, the 2nd dose would not count.</p>
    </div>
  </div>
{% endblock %}
