{% extends "_layouts/default.njk" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Maya Clarke</h1>
      <p class="nhsuk-caption-l nhsuk-u-margin-bottom-4">
        <strong>Date of birth:</strong> 3 March 2020 (aged 6)
      </p>

      <div class="nhsuk-card">
        <div class="nhsuk-card__heading-container">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            Vaccination record
          </h2>
        </div>
        <div class="nhsuk-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Programme
              </dt>
              <dd class="nhsuk-summary-list__value">
                <strong class="nhsuk-tag app-tag--transparent">MMR</strong>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Outcome
              </dt>
              <dd class="nhsuk-summary-list__value">
                <strong class="nhsuk-tag nhsuk-tag--white">Vaccinated</strong>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccine
              </dt>
              <dd class="nhsuk-summary-list__value">
                MMR (measles, mumps, and rubella)
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Product
              </dt>
              <dd class="nhsuk-summary-list__value">
                Priorix
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Method
              </dt>
              <dd class="nhsuk-summary-list__value">
                Injection
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Site
              </dt>
              <dd class="nhsuk-summary-list__value">
                Left upper arm
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Dose volume
              </dt>
              <dd class="nhsuk-summary-list__value">
                0.5ml
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Dose sequence
              </dt>
              <dd class="nhsuk-summary-list__value">
                2
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Batch number
              </dt>
              <dd class="nhsuk-summary-list__value">
                P443F26
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Supplier
              </dt>
              <dd class="nhsuk-summary-list__value">
                GlaxoSmithKline
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccinator
              </dt>
              <dd class="nhsuk-summary-list__value">
                Emma Cole, practice nurse
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccination date
              </dt>
              <dd class="nhsuk-summary-list__value">
                28 August 2023
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Record updated
              </dt>
              <dd class="nhsuk-summary-list__value">
                30 August 2023
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Location
              </dt>
              <dd class="nhsuk-summary-list__value">
                Riverside Surgery
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Protocol
              </dt>
              <dd class="nhsuk-summary-list__value">
                Not applicable
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Notes
              </dt>
              <dd class="nhsuk-summary-list__value">
                None
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Source
              </dt>
              <dd class="nhsuk-summary-list__value">
                Child health information service (CHIS)
              </dd>
            </div>
            <div class="nhsuk-summary-list__row nhsuk-summary-list__row--no-border">
              <dt class="nhsuk-summary-list__key">
                Synced with NHS England?
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span><strong class="nhsuk-tag nhsuk-tag--green">Yes</strong></span>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
