{% extends "_layouts/default.njk" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <nav class="nhsuk-breadcrumb nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/parent-test/maya">Overview</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item" aria-current="page">MMR</li>
        </ol>
      </nav>

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Maya Clarke</h1>
      <p class="nhsuk-caption-l nhsuk-u-margin-bottom-4">
        <strong>Date of birth:</strong> 3 March 2020 (aged 6)
      </p>

      <h2 class="nhsuk-heading-m">MMR (measles, mumps, and rubella) vaccination status</h2>
      <div class="nhsuk-panel" style="background-color: #007f3b;">
        <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-3" style="color: #ffffff;"><svg class="nhsuk-icon nhsuk-icon--tick" style="fill:#ffffff;width:28px;height:28px;vertical-align:middle;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" aria-hidden="true"><path d="M11.4 17.5a2 2 0 0 1-2.7.1h-.1L4 12.8a1.5 1.5 0 0 1 2.1-2L10 14.7l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/></svg> Up to date</h3>
        <p class="nhsuk-u-margin-bottom-0">Maya is up to date with MMR (measles, mumps, and rubella) vaccinations</p>
      </div>

      <p>Most children need 2 doses of the MMR vaccine for protection against measles, mumps, and rubella. <a href="https://www.nhs.uk/vaccinations/mmr-vaccine/">Find out more about the MMR vaccine</a></p>
      <table class="nhsuk-table">
        <caption class="nhsuk-u-visually-hidden">Doses given</caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th scope="col" class="nhsuk-table__header">1st dose</th>
            <th scope="col" class="nhsuk-table__header">2nd dose</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><svg class="nhsuk-icon nhsuk-icon--tick" style="fill:#007f3b;width:24px;height:24px;vertical-align:middle;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" aria-hidden="true"><path d="M11.4 17.5a2 2 0 0 1-2.7.1h-.1L4 12.8a1.5 1.5 0 0 1 2.1-2L10 14.7l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/></svg> Given</td>
            <td class="nhsuk-table__cell"><svg class="nhsuk-icon nhsuk-icon--tick" style="fill:#007f3b;width:24px;height:24px;vertical-align:middle;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" aria-hidden="true"><path d="M11.4 17.5a2 2 0 0 1-2.7.1h-.1L4 12.8a1.5 1.5 0 0 1 2.1-2L10 14.7l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/></svg> Given</td>
          </tr>
        </tbody>
      </table>

      <h2 class="nhsuk-heading-m">Vaccinations</h2>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <p><strong>1st dose</strong> usually given at 12 to 13 months</p>
          <p><svg class="nhsuk-icon nhsuk-icon--tick" style="fill:#007f3b;width:24px;height:24px;vertical-align:middle;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" aria-hidden="true"><path d="M11.4 17.5a2 2 0 0 1-2.7.1h-.1L4 12.8a1.5 1.5 0 0 1 2.1-2L10 14.7l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/></svg> Given 17 March 2021 (1 year 14 days) <a href="/parent-test/maya/mmr/dose-1">View details<span class="nhsuk-u-visually-hidden"> for 1st dose</span></a></p>
        </div>
      </div>
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <p><strong>2nd dose</strong> usually given from 3 years 4 months</p>
          <p><svg class="nhsuk-icon nhsuk-icon--tick" style="fill:#007f3b;width:24px;height:24px;vertical-align:middle;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" aria-hidden="true"><path d="M11.4 17.5a2 2 0 0 1-2.7.1h-.1L4 12.8a1.5 1.5 0 0 1 2.1-2L10 14.7l8.1-8.1a1.5 1.5 0 1 1 2.2 2l-8.9 9Z"/></svg> Given 28 August 2023 (3 years 5 months) <a href="/parent-test/maya/mmr/dose-2">View details<span class="nhsuk-u-visually-hidden"> for 2nd dose</span></a></p>
        </div>
      </div>

      <p>This record shows the information we currently have. Recent vaccinations may not have reached us yet, and vaccinations given by another service or in another country may not be included.</p>
      <p>If anything looks wrong or missing, contact <a href="#">help and support</a>.</p>
      <p class="nhsuk-u-margin-bottom-2"><a href="/parent-test/understanding-records#how-we-calculate">How we calculate vaccination status</a></p>
      <a class="nhsuk-back-link" href="/parent-test/">
        Back to scenarios
      </a>
    </div>
  </div>
{% endblock %}
