You have told us you do not want {{ child.fullName }} to have their {{ session.vaccinationNames.sentenceCase }} at {{ session.location.name }}.

If you change your mind, please contact us.

{% include "emails/consent/_contact-details.njk" %}
