We have received a response to our request for consent for {{ consent.child.firstName }} to have their {{ session.vaccinationNames.sentenceCase }}.

> We’re contacting you because the contact details in the response are different from those we have in our records.

If you think the response was sent by someone without parental responsibility, please contact us immediately on {{ data.team.tel }} or {{ data.team.email }}.

If the response came from you or someone you trust, you do not need to do anything.

{{ data.team.name }}
