You’ve given consent for {{ consent.child.fullAndPreferredNames }} to have their {{ session.vaccinationNames.sentenceCase }} at {{ session.location.name }}.

Please let them know what to expect. We’ll send you confirmation once your child has been vaccinated.

If {{ consent.child.firstName }}’s health changes, or you arrange for them to be vaccinated elsewhere, let our team know using the details below. You should also tell us if your child receives any other vaccinations before the session.

If you want to withdraw your consent, please phone us.

{% include "emails/consent/_contact-details.njk" %}
