It’s not too late for {{ child.fullName }} to get their {{ session.vaccinationNames.sentenceCase }} at a community clinic.

If you’d like to book a clinic appointment, please contact us using the details below.

{% include "emails/consent/_contact-details.njk" %}
