Thank you for giving your consent for {{ consent.child.fullAndPreferredNames }} to have their {{ session.vaccinationNames.sentenceCase }}.

Our nursing team has reviewed the answers you gave to the health questions about {{ consent.child.firstName }} and confirmed it’s safe for {{ consent.child.firstName }} to have the {{ session.vaccinationNames.sentenceCase }}.

This will take place at {{ session.location.name }} on {{ session.formatted.nextDate }}. Please tell {{ consent.child.firstName }} that they’ll be vaccinated then.

We’ll let you know once {{ consent.child.firstName }} is vaccinated.

If {{ consent.child.firstName }}’s health changes, or you arrange for them to be vaccinated elsewhere, please let us know.

You can email {{ data.team.email }} or call {{ data.team.tel }}.
