Thank you for giving your consent for {{ child.fullName }} to have their {{ session.vaccinationNames.sentenceCase }}.

Having looked at the answers you gave to the health questions about {{ child.firstName }}, our nursing team has decided it would be better for {{ child.firstName }} to be vaccinated in a clinic rather than at school.

To book an appointment, please contact us using the details below.

{% include "emails/consent/_contact-details.njk" %}
