Thank you for giving your consent for {{ child.fullName }} to have their {{ session.vaccinationNames.sentenceCase }}.

Our nursing team has reviewed the answers you gave to the health questions about {{ child.firstName }} and confirmed it’s safe for {{ child.firstName }} to have the {{ session.vaccinationNames.sentenceCase }}.

This will take place at {{ session.location.name }} on {{ session.formatted.nextDate }}. Please tell {{ child.firstName }} that they’ll be vaccinated then.

We’ll let you know once {{ child.firstName }} is vaccinated.

If {{ child.firstName }}’s health changes, or you arrange for them to be vaccinated elsewhere, please let us know.

You can email {{ team.email }} or call {{ team.tel }}.
