Thank you for responding to our earlier email asking for consent to give {{ consent.child.fullAndPreferredNames }} their {{ session.vaccinationNames.sentenceCase }} in school.

Having looked at the answers you gave to the health questions about {{ consent.child.firstName }}, our nursing team has decided that {{ consent.child.firstName }} cannot have the {{ session.vaccinationNames.sentenceCase }} on {{ session.formatted.nextDate }}.

Please get in touch with our team to discuss what {{ consent.child.firstName }} might be able to have instead. You can call {{ data.team.tel }}, or email {{ data.team.email }}.

The child health team
