Thank you for giving your consent for {{ consent.child.fullAndPreferredNames }} to have their {{ session.vaccinationNames.sentenceCase }}.

Having looked at the answers you gave to the health questions, our nursing team has decided it would be better for {{ consent.child.firstName }} to be vaccinated at a later date.

We’ll contact you again once we have another vaccination date.

If {{ consent.child.firstName }}’s health changes, or you arrange for them to be vaccinated somewhere else, please tell us.

You can email {{ data.team.email }} or phone {{ data.team.tel }}.
