We recently gave {{ child.firstName }} their 1st dose of the MMR vaccination. To be fully vaccinated, they need 2 doses.

We’re coming to {{ session.location.name }} on {{ session.formatted.nextDate }} and plan to give {{ child.firstName }} their 2nd dose then. Please let them know about this.

If {{ child.firstName }}’s health changes, or you arrange for them to get their 2nd dose somewhere else, contact us. You can email {{ team.email }} or phone {{ team.tel }}.
