Thank you for giving your consent for {{ child.fullName }} to have their {{ session.vaccinationNames.sentenceCase }}.

Having looked at the answers you gave to the health questions, our nursing team has decided it would be better for {{ child.firstName }} to be vaccinated at a later date.

We’ll contact you again once we have another vaccination date.

If {{ child.firstName }}’s health changes, or you arrange for them to be vaccinated somewhere else, please tell us.

You can email {{ team.email }} or phone {{ team.tel }}.
