Thank you for responding to our earlier email asking for consent to give {{ child.fullName }} their {{ session.vaccinationNames.sentenceCase }} in school.

Having looked at the answers you gave to the health questions about {{ child.firstName }}, our nursing team has decided that {{ child.firstName }} cannot have the {{ session.vaccinationNames.sentenceCase }} on {{ session.formatted.nextDate }}.

Please get in touch with our team to discuss what {{ child.firstName }} might be able to have instead. You can call {{ team.tel }}, or email {{ team.email }}.

The child health team
