{{ child.fullAndPreferredNames }} did not have their {{ session.vaccinationNames.sentenceCase }} at school today. This was because our nursing team decided that {{ child.firstName }} cannot have their {{ session.vaccinationNames.sentenceCase }} vaccination.

Please contact us to discuss what {{ child.firstName }} might be able to have instead.

{% include "emails/consent/_contact-details.njk" %}
