{{ consent.child.fullAndPreferredNames }} did not have their {{ session.vaccinationNames.sentenceCase }} at school today. This was because {{ placeholders.reason }}.

If you’d still like your child to be vaccinated, you can book an appointment at a catch-up clinic by contacting our team.

{% include "emails/consent/_contact-details.njk" %}
