You recently received an email saying that your child got a vaccination.

This was sent in error. Please ignore it.

If you have any questions or concerns, get in touch with us.

{% include "emails/consent/_contact-details.njk" %}
