{{ child.fullAndPreferredNames }} did not have their {{ session.vaccinationNames.sentenceCase }} at school today. This was because our nursing team decided it would be better for {{ child.firstName }} to be vaccinated at a later date.

We’ll contact you again once we have another vaccination date.

If {{ child.firstName }}’s health changes, or you arrange for them to be vaccinated somewhere else, please tell us.

{% include "emails/consent/_contact-details.njk" %}
