{{ child.fullAndPreferredNames }} did not have their {{ session.vaccinationNames.sentenceCase }} at school today. This was because our nursing team decided that their vaccination should take place at a clinic instead.

You can book an appointment at a clinic by contacting our team.

{% include "emails/consent/_contact-details.njk" %}
