We’re contacting you because our records show that {{ child.firstName }} was vaccinated at another location today so we’re cancelling their vaccination appointment at school.

If you think this is wrong, please tell us immediately on {{ team.tel }} or {{ team.email }}.

If {{ child.firstName }} was vaccinated today, you do not need to do anything.

{{ team.name }}
