{% extends "_layouts/texts.njk" %}

{% set caption = __("consent.start.title." + session.presetNames[0]) | safe %}

{% set placeholders = {
  child: consent.child,
  session: session,
  team: team
} %}

{% set defaultTemplate = "invite" %}
{% set dir = "consent" %}
{% set templates = {
  "Invite": [
    "invite",
    "invite-reminder",
    "invite-clinic",
    "invite-clinic-reminder",
    "invite-clinic-consent"
  ],
  "Consent": [
    "consent-already-vaccinated" if programme.type == ProgrammeType.MMR,
    "consent-given",
    "consent-given-child",
    "consent-refused"
  ],
  "Record": [
    "vaccination-reminder",
    "vaccination-reminder-child",
    "vaccination-given",
    "vaccination-not-given-absent",
    "vaccination-not-given-refused",
    "vaccination-not-given-unwell",
    "vaccination-not-given-contraindicated-delay-vaccination",
    "vaccination-not-given-contraindicated-invite-to-clinic",
    "vaccination-not-given-contraindicated-do-not-vaccinate",
    "vaccination-already-had"
  ]
} %}
