{% extends "_layouts/emails.njk" %}

{% set caption = __("consent.start.title." + session.presetNames[0]) | safe %}
{% if session.programmes.length == 1 %}
  {% set vaccine__n = "vaccine" %}
  {% set is__n = "is" %}
{% else %}
  {% set vaccine__n = "vaccines" %}
  {% set is__n = "are" %}
{% endif %}

{% set programme = session.programmes[0] %}

{% set placeholders = {
  from: {
    name: data.team.name,
    email: data.team.email
  },
  to: {
    name: consent.parent.fullName,
    email: consent.parent.email
  },
  programme: programme,
  consent: consent,
  session: session
} %}

{% set defaultTemplate = "invite" %}
{% set dir = "consent" %}
{% set templates = {
  "Invite": [
    "invite",
    "invite-catch-up" if programme.type == ProgrammeType.HPV,
    "invite-reminder",
    "invite-subsequent-reminder",
    "invite-clinic",
    "invite-clinic-reminder",
    "invite-clinic-consent",
    "information-child" if programme.type == ProgrammeType.HPV
  ],
  "Consent": [
    "consent-already-vaccinated" if programme.type == ProgrammeType.MMR,
    "consent-given",
    "consent-given-changed-school",
    "consent-refused",
    "consent-needs-triage",
    "consent-unknown-contact"
  ],
  "Triage": [
    "triage-vaccinate",
    "triage-vaccinate-second-dose" if programme.type == ProgrammeType.MMR,
    "triage-invite-to-clinic",
    "triage-delay-vaccination",
    "triage-do-not-vaccinate"
  ],
  "Record": [
    "vaccination-reminder",
    "vaccination-given",
    "vaccination-given-many" if session.programmes.length > 1,
    "vaccination-not-administered",
    "vaccination-already-had",
    "vaccination-deleted"
  ]
} %}
