{% extends "_layouts/form.njk" %}

{% set title = __("clinic." + type + ".title") %}
{% set confirmButtonText = __("clinic." + type + ".confirm") %}
{% set optionalSuffix = " (optional)" %}

{% block form %}
  {{ heading({
    text: title,
    size: "l"
  }) }}
  {% if type === "edit" and clinic.id === "M86633" %}
    {{ insetText({
      text: __("location.shared")
    }) }}
  {% endif %}

  {{ input({
    label: __("location.name.label"),
    decorate: "clinic.name"
  }) }}

  {% call fieldset({
    legend: {
      heading: __("location.address.label"),
      classes: "nhsuk-u-visually-hidden"
    }
  }) %}
    {{ input({
      label: __("location.addressLine1.label"),
      autocomplete: "address-line1",
      decorate: "clinic.addressLine1"
    }) }}

    {{ input({
      label: __("location.addressLine2.label") + optionalSuffix,
      autocomplete: "address-line2",
      decorate: "clinic.addressLine2"
    }) }}

    {{ input({
      classes: "nhsuk-u-width-two-thirds",
      label: __("location.addressLevel1.label"),
      autocomplete: "addressLevel1",
      decorate: "clinic.addressLevel1"
    }) }}

    {{ input({
      label: __("location.postalCode.label"),
      autocomplete: "postal-code",
      width: 10,
      decorate: "clinic.postalCode"
    }) }}
  {% endcall %}

  {{ input({
    label: __("location.odsCode.label") + optionalSuffix,
    width: 10,
    decorate: "clinic.odsCode"
  }) }}

  {{ input({
    label: __("location.carePlusCode.label") + optionalSuffix,
    width: 10,
    decorate: "clinic.carePlusCode"
  }) }}

  {{ textarea({
    label: __("location.venueInformation.label") + optionalSuffix,
    hint: __("location.venueInformation.hint"),
    decorate: "clinic.venueInformation"
  }) }}
{% endblock %}
