{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("contact." + type + ".confirm") %}
{% set title = __("contact." + type + ".title") %}

{% block form %}
  {{ heading({
    caption: contact.patient.fullName,
    text: title,
    size: "l"
  }) }}

  {{ input({
    label: __("contact.fullName.label"),
    decorate: "contact.fullName"
  }) }}

  {{ radios({
    fieldset: {
      legend: __("contact.relationship.label")
    },
    items: [
      { label: ParentalRelationship.Mum },
      { label: ParentalRelationship.Dad },
      { label: ParentalRelationship.Guardian },
      {
        label: ParentalRelationship.Other,
        conditional: {
          html: input({
            label: __("contact.relationshipOther.label"),
            decorate: "contact.relationshipOther"
          })
        }
      }
    ],
    decorate: "contact.relationship"
  }) }}

  {{ input({
    label: __("contact.email.label"),
    decorate: "contact.email"
  }) }}

  {{ input({
    label: __("contact.tel.label"),
    decorate: "contact.tel"
  }) }}

  {{ radios({
    fieldset: {
      legend: __("contact.hasCommunicationNeeds.label")
    },
    items: [
      {
        label: __("contact.hasCommunicationNeeds.yes"),
        value: true,
        conditional: {
          html: textarea({
            label: __("contact.communicationNeeds.label"),
            decorate: "contact.communicationNeeds"
          })
        }
      },
      {
        label: __("contact.hasCommunicationNeeds.no"),
        value: false
      }
    ],
    decorate: "contact.hasCommunicationNeeds"
  }) }}
{% endblock %}
