{% extends "_layouts/form.njk" %}

{% set confirmButtonText = __("contact." + type + ".confirm") %}
{% set title = __("contact." + type + ".title") %}

{% block form %}
  {{ appHeading({
    caption: contact.patient.fullName,
    title: title
  }) }}

  {{ input({
    label: { text: __("contact.fullName.label") },
    decorate: "contact.fullName"
  }) }}

  {{ radios({
    fieldset: {
      legend: { text: __("contact.relationship.label") }
    },
    items: [{
      text: ParentalRelationship.Mum
    }, {
      text: ParentalRelationship.Dad
    }, {
      text: ParentalRelationship.Guardian
    }, {
      text: ParentalRelationship.Other,
      conditional: {
        html: input({
          label: { text: __("contact.relationshipOther.label") },
          decorate: "contact.relationshipOther"
        })
      }
    }],
    decorate: "contact.relationship"
  }) }}

  {{ input({
    label: { text: __("contact.email.label") },
    decorate: "contact.email"
  }) }}

  {{ input({
    label: { text: __("contact.tel.label") },
    decorate: "contact.tel"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("contact.hasCommunicationNeeds.label")
      }
    },
    items: [{
      text: __("contact.hasCommunicationNeeds.yes"),
      value: true,
      conditional: {
        html: textarea({
          label: { text: __("contact.communicationNeeds.label") },
          decorate: "contact.communicationNeeds"
        })
      }
    }, {
      text: __("contact.hasCommunicationNeeds.no"),
      value: false
    }],
    decorate: "contact.hasCommunicationNeeds"
  }) }}
{% endblock %}
