{% extends "_layouts/default.njk" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <nav class="nhsuk-breadcrumb nhsuk-u-margin-bottom-3" aria-label="Breadcrumb">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/parent-test/idris">Overview</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item">
            <a class="nhsuk-breadcrumb__link" href="/parent-test/idris/mmr">MMRV</a>
          </li>
          <li class="nhsuk-breadcrumb__list-item" aria-current="page">1st dose</li>
        </ol>
      </nav>

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Idris Marsh</h1>
      <p class="nhsuk-caption-l nhsuk-u-margin-bottom-4">
        <strong>Date of birth:</strong> 10 March 2025 (aged 15 months)
      </p>

      <div class="nhsuk-card">
        <div class="nhsuk-card__heading-container">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            Vaccination record
          </h2>
        </div>
        <div class="nhsuk-card__content">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Programme
              </dt>
              <dd class="nhsuk-summary-list__value">
                <strong class="nhsuk-tag app-tag--transparent">MMRV</strong>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Outcome
              </dt>
              <dd class="nhsuk-summary-list__value">
                <strong class="nhsuk-tag nhsuk-tag--white">Vaccinated</strong>
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccine
              </dt>
              <dd class="nhsuk-summary-list__value">
                MMRV (measles, mumps, rubella and chickenpox)
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Product
              </dt>
              <dd class="nhsuk-summary-list__value">
                Priorix-Tetra
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Method
              </dt>
              <dd class="nhsuk-summary-list__value">
                Injection
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Site
              </dt>
              <dd class="nhsuk-summary-list__value">
                Right upper arm
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Dose volume
              </dt>
              <dd class="nhsuk-summary-list__value">
                0.5ml
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Dose sequence
              </dt>
              <dd class="nhsuk-summary-list__value">
                1
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Batch number
              </dt>
              <dd class="nhsuk-summary-list__value">
                T340A26
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Supplier
              </dt>
              <dd class="nhsuk-summary-list__value">
                GlaxoSmithKline
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccinator
              </dt>
              <dd class="nhsuk-summary-list__value">
                Priya Nair, practice nurse
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Vaccination date
              </dt>
              <dd class="nhsuk-summary-list__value">
                12 March 2026
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Record updated
              </dt>
              <dd class="nhsuk-summary-list__value">
                14 March 2026
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Location
              </dt>
              <dd class="nhsuk-summary-list__value">
                Church Lane Surgery
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Protocol
              </dt>
              <dd class="nhsuk-summary-list__value">
                Not applicable
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Notes
              </dt>
              <dd class="nhsuk-summary-list__value">
                None
              </dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Source
              </dt>
              <dd class="nhsuk-summary-list__value">
                GP record
              </dd>
            </div>
            <div class="nhsuk-summary-list__row nhsuk-summary-list__row--no-border">
              <dt class="nhsuk-summary-list__key">
                Synced with NHS England?
              </dt>
              <dd class="nhsuk-summary-list__value">
                <span><strong class="nhsuk-tag nhsuk-tag--green">Yes</strong></span>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
