{% extends "_layouts/form.njk" %}

{% block form %}
  {{ heading({
    caption: contact.patient.fullName,
    text: __("contact.action.title", {
      contact: contact,
      type: type
    }),
    size: "l"
  }) }}

  {{ __("contact.action.description", {
    patient: contact.patient
  }) | nhsukMarkdown }}
{% endblock %}

{% block afterForm %}
  {{ appButtonGroup({
    buttons: [
      {
        text: __("contact.action.confirm", type),
        variant: "warning",
        attributes: {
          formAction: contact.uri + "/" + type
        }
      }
    ],
    links: [
      {
        text: __("contact.action.cancel"),
        href: back
      }
    ]
  }) }}
{% endblock %}
