{% extends "_layouts/form.njk" %}

{% set title = __("consent.contact.hasCommunicationNeeds.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        isPageHeading: true,
        text: __("consent.contact.hasCommunicationNeeds.title"),
        size: "l"
      }
    },
    hint: __("consent.contact.hasCommunicationNeeds.hint"),
    items: [
      {
        label: __("consent.contact.hasCommunicationNeeds.yes"),
        value: true,
        conditional: {
          html: textarea({
            label: __("consent.contact.communicationNeeds.title"),
            decorate: "consent.contact_.communicationNeeds"
          })
        }
      },
      {
        label: __("consent.contact.hasCommunicationNeeds.no"),
        value: false
      }
    ],
    decorate: "consent.contact_.hasCommunicationNeeds"
  }) }}
{% endblock %}
