{% extends "_layouts/form.njk" %}

{% set title = __("consent.hasRequestedConsultation.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        isPageHeading: true,
        text: title,
        size: "l"
      }
    },
    hint: __("consent.hasRequestedConsultation.hint." + consent.refusalReason),
    items: [{
      label: __("consent.hasRequestedConsultation.yes"),
      value: true
    },
    {
      label: __("consent.hasRequestedConsultation.no"),
      value: false
    }],
    decorate: "consent.hasRequestedConsultation"
  }) }}
{% endblock %}
