{% extends "_layouts/form.njk" %}

{% set title = __("consent.contact.contactPreference.title") %}

{% block form %}
  {{ appHeading({
    title: title
  }) }}

  {{ __("consent.contact.contactPreference.description") | nhsukMarkdown }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("consent.contact.contactPreference.label"),
        size: "s"
      }
    },
    items: [{
      text: __("consent.contact.contactPreference.yes"),
      value: true,
      conditional: {
        html: textarea({
          label: { text: __("consent.contact.contactPreferenceDetails.label") },
          decorate: "consent.contact_.contactPreferenceDetails"
        })
      }
    }, {
      text: __("consent.contact.contactPreference.no"),
      value: false
    }],
    decorate: "consent.contact_.contactPreference"
  }) }}
{% endblock %}
