{% extends "_layouts/form.njk" %}

{% set domestic = consent[key].country in ["England", "Scotland", "Wales", "Northern Ireland"] %}
{% if domestic %}
  {% set title = __("consent." + key + ".isScheduled.title") %}
{% else %}
  {% set title = __("consent." + key + ".createdAt.title") %}
{% endif %}

{% block form %}
  {% if domestic %}
    {{ radios({
      fieldset: {
        legend: {
          isPageHeading: true,
          text: title,
          size: "l"
        }
      },
      hint: {
        text: __("consent." + key + ".isScheduled.hint")
      },
      items: [
        {
          text: __("consent.previousDose.isScheduled.yes"),
          value: true
        },
        {
          text: __("consent.previousDose.isScheduled.no"),
          value: false,
          conditional: {
            html: dateInput({
              fieldset: {
                legend: {
                  text: __("consent." + key + ".createdAt.title")
                }
              },
              hint: { text: __("consent.previousDose.createdAt.hint") },
              decorate: ["consent", key, "createdAt_"]
            })
          }
        }
      ],
      decorate: ["consent", key, "isScheduled"]
    }) }}
  {% else %}
    {{ dateInput({
      fieldset: {
        legend: {
          isPageHeading: true,
          text: title,
          size: "l"
        }
      },
      hint: { text: __("consent.previousDose.createdAt.hint") },
      decorate: ["consent", key, "createdAt_"]
    }) }}
  {% endif %}
{% endblock %}
