{% extends "_layouts/form.njk" %}

{% set title = __("consent.refusalReasonDetails.title." + consent.refusalReason) %}

{% block form %}
  {{ textarea({
    label: {
      text: title,
      size: "l"
    },
    decorate: "consent.refusalReasonDetails"
  }) }}
{% endblock %}
