{% extends "_layouts/default.njk" %}

{% set title = "Pre-canned scenarios" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      {{ heading({
        text: title,
        size: "l"
      }) }}

      <p>The following are pre-built scenarios for use in demos and usability testing.</p>
      
      <p>Unlike the randomised data, these will remain available each time we deploy.</p>

      {{ heading({
        text: "Scenarios available",
        size: "m",
        headingLevel: 2
      }) }}

      {% if scenarios.length > 0 %}
        {% for scenario in scenarios %}
          {% call card({
            href: scenario.startUrl,
            heading: {
              text: scenario.name,
              level: 2,
              size: "s"
            },
            classes: "nhsuk-u-margin-bottom-4"
          }) %}
            <p>{{ scenario.description }}</p>

            {% if scenario.links.length %}
              <ul class="nhsuk-list">
                {% for link in scenario.links %}
                  <li><a href="{{ link.href }}">{{ link.label }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endcall %}
        {% endfor %}
      {% else %}
        <p>No scenarios found.</p>
      {% endif %}
    </main>
  </div>
{% endblock %}
