{% extends "_layouts/form.njk" %}

{% set title = __("contact.canNotify.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: reply.patient.fullName,
          text: title,
          size: "l"
        })
      }
    },
    items: getBooleanItems(),
    decorate: "reply.contact.canNotify"
  }) }}
{% endblock %}
