{% extends "_layouts/form.njk" %}

{% if reply.contact.fullName %}
  {% set title = __("reply.contact.title.edit", { contact: reply.contact }) %}
{% else %}
  {% set title = __("reply.contact.title.new") %}
{% endif %}

{% block form %}
  {{ appHeading({
    caption: reply.patient.fullName,
    title: title
  }) }}

  {%- set fosterCarerHtml = radios({
    fieldset: {
      legend: { text: __("contact.hasParentalResponsibility.delegatedLabel") }
    },
    hint: { text: __("contact.hasParentalResponsibility.hint") },
    items: getBooleanItems(),
    decorate: "reply.contact.hasParentalResponsibility"
  }) %}

  {%- set guardianHtml = radios({
    fieldset: {
      legend: { text: __("contact.hasParentalResponsibility.label") }
    },
    hint: { text: __("contact.hasParentalResponsibility.hint") },
    items: getBooleanItems(),
    decorate: "reply.contact.hasParentalResponsibility"
  }) %}

  {%- set otherHtml = input({
    label: { text: __("contact.relationshipOther.label") },
    decorate: "reply.contact.relationshipOther"
  }) + radios({
    fieldset: {
      legend: { text: __("contact.hasParentalResponsibility.label") }
    },
    hint: { text: __("contact.hasParentalResponsibility.hint") },
    items: getBooleanItems(),
    decorate: "reply.contact.hasParentalResponsibility"
  }) %}

  {# Add conditional html for ‘Foster carer’ option #}
  {% set items = injectConditionalHtml(parentalRelationshipItems, ParentalRelationship.Fosterer, fosterCarerHtml) %}

  {# Add conditional html for ‘Guardian’ option #}
  {% set items = injectConditionalHtml(items, ParentalRelationship.Guardian, guardianHtml) %}

  {# Add conditional html for ‘Other’ option #}
  {% set items = injectConditionalHtml(items, ParentalRelationship.Other, otherHtml) %}

  {{ input({
    label: { text: __("contact.fullName.label") },
    decorate: "reply.contact.fullName"
  }) }}

  {# `pop` removes `Other` and `Unknown` from ParentalRelationship array #}
  {{ radios({
    fieldset: {
      legend: { text: __("contact.relationship.label") }
    },
    items: items,
    decorate: "reply.contact.relationship"
  }) }}

  {{ input({
    label: { text: __("contact.email.label") },
    decorate: "reply.contact.email"
  }) }}

  {{ input({
    label: { text: __("contact.tel.label") + " (optional)" },
    decorate: "reply.contact.tel"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: __("contact.hasCommunicationNeeds.title")
      }
    },
    items: [{
      text: __("contact.hasCommunicationNeeds.yes"),
      value: true,
      conditional: {
        html: textarea({
          label: { text: __("contact.communicationNeeds.title") },
          decorate: "reply.contact.communicationNeeds"
        })
      }
    }, {
      text: __("contact.hasCommunicationNeeds.no"),
      value: false
    }],
    decorate: "reply.contact.hasCommunicationNeeds"
  }) }}
{% endblock %}
