{% extends "_layouts/form.njk" %}

{% set paths = { back: reply.uri } %}
{% set title = __("reply.follow-up.title") %}

{% block form %}
  {{ appHeading({
    caption: __("reply.follow-up.caption", { reply: reply }),
    title: title
  }) }}

  {{ insetText({
    html: summaryList({
      lastRowBorder: false,
      rows: summaryRows(reply, {
        contact: {
          value: reply.contact.fullNameAndRelationship
        },
        email: {
          label: __("contact.email.label"),
          value: reply.contact.email
        },
        tel: {
          label: __("contact.tel.label"),
          value: reply.contact.tel
        },
        contactPreference: {
          label: __("contact.contactPreference.label"),
          value: reply.contact.contactPreference
        },
        refusalReason: {},
        refusalReasonDetails: {}
      })
    })
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: __("reply.follow-up.decision.label")
      }
    },
    items: [{
      text: __("reply.follow-up.decision.consent.label"),
      value: false
    }, {
      text: __("reply.follow-up.decision.refuse.label"),
      value: true
    }],
    decorate: "decision"
  }) }}
{% endblock %}
