{% extends "_layouts/form.njk" %}

{% set title = __("reply.method.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: reply.patient.fullName,
          title: title
        })
      }
    },
    items: [{
      label: ReplyMethod.Phone
    }, {
      label: ReplyMethod.InPerson
    }, {
      label: ReplyMethod.Paper
    }],
    decorate: "reply.method"
  }) }}
{% endblock %}
