{% extends "_layouts/form.njk" %}

{% set title = __("reply.method.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: reply.patient.fullName,
          text: title,
          size: "l"
        })
      }
    },
    items: [{
      label: ReplyMethod.Phone
    }, {
      label: ReplyMethod.InPerson
    }, {
      label: ReplyMethod.Paper
    }],
    decorate: "reply.method"
  }) }}
{% endblock %}
