{% extends "_layouts/form.njk" %}

{% if reply.hasSelfConsent %}
  {% set title = __("reply.programme.title.Child") %}
{% else %}
  {% set title = __("reply.programme.title.Contact") %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: patient.fullName,
          title: title
        })
      }
    },
    items: programmeItems,
    decorate: "reply.programme_id"
  }) }}
{% endblock %}
