{% extends "_layouts/form.njk" %}

{% set title = __("reply.refusalReasonDetails.title." + reply.refusalReason) %}

{% block form %}
  {{ textarea({
    label: {
      html: heading({
        caption: reply.patient.fullName,
        text: title,
        size: "l"
      })
    },
    decorate: "reply.refusalReasonDetails"
  }) }}
{% endblock %}
