{% extends "_layouts/form.njk" %}

{% set title = __("reply.contact.canNotify.title", { contact: reply.contact }) %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: appHeading({
          classes: "nhsuk-fieldset__legend--l",
          caption: reply.patient.fullName,
          title: title
        })
      }
    },
    items: getBooleanItems(),
    decorate: "reply.contact.canNotify"
  }) }}
{% endblock %}
