{% extends "_layouts/form.njk" %}

{% set title = __("upload.export.title", upload.format) %}
{% set information = __("upload.export.information." + upload.format) %}
{% set description = __("upload.export.description." + upload.format) %}

{% block form %}
  {{ heading({
    text: title,
    size: "l"
  }) }}

  {{ insetText({
    html: information | nhsukMarkdown
  }) if information }}

  {{ description | nhsukMarkdown }}
{% endblock %}
