{% extends "_layouts/form.njk" %}

{% set title = __("upload.yearGroups.title") %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        isPageHeading: true,
        text: title,
        size: "l"
      }
    },
    items: yearGroupItems,
    decorate: "upload.yearGroups"
  }) | replace("govuk-", "nhsuk-") }}
{% endblock %}
