{% extends "_layouts/form.njk" %}

{% set title = __("patient.dob.title") %}

{% block form %}
  {{ dateInput({
    fieldset: {
      legend: {
        html: heading({
          caption: patient.fullName,
          text: title,
          size: "l"
        })
      }
    },
    hint: __("patient.dob.hint"),
    decorate: "patient.dob_"
  }) }}
{% endblock %}
