{% extends "_layouts/form.njk" %}

{% set title = __("patient.gpSurgery.title") %}

{% block form %}
  {{ input({
    label: {
      html: heading({
        caption: patient.fullName,
        text: title,
        size: "l"
      })
    },
    decorate: "patient.gpSurgery"
  }) }}
{% endblock %}
