{% extends "_layouts/form.njk" %}

{% set title = __("patient.fullName.title") %}

{% block form %}
  {{ appHeading({
    caption: patient.fullName,
    title: title
  }) }}

  {{ input({
    label: __("patient.firstName.label"),
    decorate: "patient.firstName"
  }) }}

  {{ input({
    label: __("patient.lastName.label"),
    decorate: "patient.lastName"
  }) }}
{% endblock %}
