{% extends "_layouts/form.njk" %}

{% set title = __("patient.school.title") %}

{% block form %}
  {{ select({
    label: {
      html: heading({
        caption: patient.fullName,
        text: title,
        size: "l"
      })
    },
    items: locationItems(data.schools, patient.school_id),
    decorate: "patient.school_id",
    attributes: {
      "data-module": "app-autocomplete"
    }
  }) }}
{% endblock %}
