{% extends "_layouts/form.njk" %}

{% set title = __("patient.yearGroup.title") %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        html: heading({
          caption: patient.fullName,
          text: title,
          size: "l"
        })
      }
    },
    items: academicYearGroupItems,
    decorate: "patient.academicYearGroup"
  }) }}
{% endblock %}
